.about{
  &__text{
	font-size: 15px;
	&.is-green-text{
	  font-size: 17px;
	  width: 73%;
	  line-height: 1.5;
	  margin:0 auto;
	}
  }
}


.infocenter{
  margin-top:$main-margin;
  padding:30px;
  background-color: rgba(153, 153, 153, 0.18);
  h3{
	float: left;
	margin-bottom: 0 !important;
	padding-top: 3px;
	font-family:$lora;

  }
  button{
	float: right;
	border:none;
	padding:10px 20px 10px 40px;
	font-family:$lora;
	font-size: 16px;
	color: $color-golddark;
  }
}
