button {
  border-radius: 2px;
  font-size: 12px;
  padding:3px 14px;
  transition: all .3s ease;
  &.is-green{
	color: #fff;
	background-color: $color-green;
  }
  &.is-white{
	color: $color-golddark;
	background-color: $color-back-gray;

  }
}

