.main-slider__section{
  margin-bottom:$main-margin;
}
.main-slider{
  position:relative;
  margin:0 auto;
  top:0px;
  left:0px;
  width: 960px;
  height:484px !important;
  overflow:hidden;
  visibility:hidden;

  &__item{
	width: 100%;
	img{
	  max-width: 100%;
	}
	&-text{
	  background-color: transparent;
	  color: $color-greendark;
	  line-height: 1.4;
	  right: 60px;
	  top: 50px;
	  width: 150px;
	  h3{
		font-family:$lora;
		font-size: 17px;
		margin-bottom: 10px;
	  }
	  p{
		font-size: 9px;
	  }
	}
	&-link{
	  position: absolute;
	  bottom: 70px;
	  font-family:$lora;
	  text-decoration: none;
	  a{
		color: #fff;
		text-decoration: none;
		padding: 15px;
		font-size: 11px;
		&:first-child{
		  background-color: rgba( 11, 61, 52, .6 );
		}
		&:last-child{
		  background-color: rgba( 11, 61, 52, .7 );

		}
	  }

	}
  }
}

.project-slider{
  &__item{
	&-text{
	  background-color: rgba(11, 61, 52, 0.7);
	  color: #fff;
	  position: absolute;
	  left: 70px;
	  top: 60px;
	  padding:30px 40px;
	  width: 42%;
	  h4{
		margin-bottom: 0;
		font-family:$lora;
		font-size: 14px;
	  }
	  p{
		font-size: 9px;
	  }
	  a{
		font-family:$lora;
		color: $color-gold;
		font-size: 10px;
		text-decoration: none;
	  }

	}
  }
  &__caption{
	font-size: 10px;
  }
}

