*{
  box-sizing: border-box;
}

.is-green-text{
  color: $color-text-green;
}
.big-letter{
  float: left;
  font-size: 113px;
  margin-top: -34px;
  padding-right: 10px;
  color: $color-greendark;
  font-family:$lora;

}

@mixin triangle($direction,$width,$height,$color){
  width: 0px;
  height: 0px;
  border-style: solid;
  @if $direction == top {
	border-width: 0 $width/2 $height $width/2;
	border-color: transparent transparent $color transparent;
  } @else if $direction == right {
	border-width: $height/2 0 $height/2 $width;
	border-color: transparent transparent transparent $color;
  } @else if $direction == bottom {
	border-width: $height $width/2 0 $width/2;
	border-color: $color transparent transparent transparent;
  } @else if $direction == left{
	border-width: $height/2 $width $height/2 0;
	border-color: transparent $color transparent transparent;
  }
}
strong{
  font-weight: bold;
}

img{
  max-width:100%;
  height: auto;
}
