// Grid settings
$number-of-columns: 12;
$default-column-width: 5.833333 / 100;
$default-column-margin: 2.5 / 100;
$content-max-width: 1170px; // That's where fluid becomes fixed
$content-min-width: 936px; // That's where fluid becomes fixed
$base-vertical-margin: 20px; // The mother of all margins. Usually = base line height
$base-horizontal-margin: $base-vertical-margin; // Usually equal vertical margin, but can be customized

$bm: $base-vertical-margin; // Shortcut

// Font settings
$sans: 'PT Sans', sans-serif;
$lora: 'Lora', serif;
$font-base: $sans;
$font-base-medium: $sans;
$font-base-bold: $sans;
$font-rouble: rouble, $sans;


// Media queries
$media-desktop: "screen and (max-width: 1210px)"; // 1024-1280
$media-desk: "screen and (max-width: 1279px)"; // 1024-1280
$media-tablet: "screen and (max-width: 1023px)"; // 768-1024
$media-phone-landscape: "screen and (max-width: 767px)"; // 480-767 (large phones included, ipad vertical - not)
$media-phone: "screen and (max-width: 479px)"; // 320-479 (iphone 4 landscape not included)
$media-retina: "screen and (min-device-pixel-ratio: 1.5), screen and (-webkit-min-device-pixel-ratio: 1.5)";

$media-mobile: $media-phone-landscape;
$media-not-mobile: "screen and (min-width: 768px)";

// styles
$font-size-base-num: 12;
$font-size-base: 14px;

$line-height-base: (20/14);
$color-black: #000000; // Use for main text. Replace to true black if necessary
$color-white: #ffffff;

$color-text: $color-black;
$color-text-dark: #002A2B;
$color-text-light: #666;
$color-accent-text: #4183c4; // User for links and accents

$color-link: #0099FF;
$color-link-visited: #ca6fff;
$color-link-hover: #6dc5ff;
$color-table-light: #f8f8f9;

$color-accent-link: #6dc5ff;
$color-accent-hover: #ca6fff;

$form-label-color: #999999;
$form-border-color: #999999;
$form-border-focus-color: #4183c4;
$form-placeholder-color: #999;

$color-bg-light: #f4f5f8; //#e0e0e0;
$color-bg-medium: #cccccc;
$color-bg-dark: #999999;

$color-bg-dark-header: #5d5d5d;

$color-disabled-label: #aaa;

$color-body: #ecedf0;

$color-border: $color-bg-medium;

$color-popup-background: #eee;

$headings-font: $font-base;
$headings-font-weight: normal;

$color-button-default-bg: #f4f5f8;
$color-button-default-text: #000;
$color-button-default-bg-hover: #5d5d5d;

$color-button-primary-bg: $color-link;
$color-button-primary-text: white;

$color-button-buy-bg: #ffce21; //#fc9323;
$color-button-buy-text: $color-text-dark;

$color-status-ok: #227000;
$color-status-error: #c10000;

$table-border-color: #f4f5f8;

$color-text: $color-black;


$main-margin: 60px;

/**colors**/
$color-green: #003838;
$color-greendark: #013334;
$color-gold: #D6C2AA;
$color-golddark: #C8AF79;
$color-brown: #866E4C;
$color-yellow: #FFD27A;
$color-text-green: #1D564D;
$color-back-gray: #F6F6F4;
$color-gray: #9A9A9A;
/***/
$white100: white;
$white90: darken(white, 10%);
$white80: darken(white, 20%);
$white75: darken(white, 25%);
$white70: darken(white, 30%);
$white60: darken(white, 40%);
$white50: darken(white, 50%);
$white40: darken(white, 60%);
$white30: darken(white, 70%);
$white25: darken(white, 75%);
$white20: darken(white, 80%);
$white10: darken(white, 90%);


// Mobile variables

$mobile-header-height: 46px;
$mobile-outer-margin: 10px;
$mobile-popup-title-font-size: 150%;

// Style mixins



@mixin mobile-overflow($padding: true) {
	@media #{$media-phone-landscape} {
		margin-left: - $mobile-outer-margin;
		margin-right: - $mobile-outer-margin;
		@if $padding {
			padding-left: $mobile-outer-margin;
			padding-right: $mobile-outer-margin;
		}
		.fancybox-inner & {
			margin-left: 0;
			margin-right: 0;
		}
	}
}

@mixin thin-border-bottom() {
	border-bottom: 1px solid #cccccc;
}

@mixin close-btn() {
	@include fa-icon($fa-var-times-circle);
	font-size: 24/14*100%;
	color: #cccccc;
	&:hover {
		color: #333333;
	}
}

@mixin the-plate() {
	background: #eeeeee;
	padding: 20px;
	@include box-sizing;
	@include mobile-overflow();
}

@mixin pseudo-link() {
	text-decoration: none;
	border-bottom: 1px dashed;
}

@mixin link-gray() {
	color: #999;
	text-decoration: underline;
	&:hover {
		color: $color-link;
		text-decoration: underline;
	}
}

@mixin clearfix() {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

%link-bright {
	color: $color-link;
	text-decoration: underline;
	&:hover {
		color: $color-link-hover;
		text-decoration: underline;
	}
}

%link-dark {
	color: $color-text;
	text-decoration: underline;
	&:hover {
		color: $color-link;
		text-decoration: underline;
	}
}



@mixin mobile-form-title() {
	font-size: $mobile-popup-title-font-size;
	font-weight: bold;
	margin-bottom: 30px;
	.fancybox-inner & {
		padding-right: 20px !important; //close button
	}
}
