//---- Variables ----//

//- Blocking for links
- var jv0 = 'javascript:void(0);';
- var tel = "location.href = 'tel:'+$(this).text().replace(/(\s|\(|\)|\-)/g,'')+'';";
- var lorem = 'Истребитель F-16 ВВС США столкнулся с частным самолетом Cessna в 18 километрах от Чарлстона, штат Южная Каролина. По словам военных, пилот боевого самолета успел катапультироваться перед падением истребителя. Судьба Cessna и тех, кто находился на борту этого воздушного судна, не уточняется.'

//- Build time for cache reset
- var timestamp = new Date().getTime();

//---- Add blocks ----//
include ../../tmp/blocks.jade

//---- Add frameworks list ----//
- var scriptList = [[],[],[]];
- var styleList = [];

block content