//---- Variables ----//

//- Blocking for links
- var jv0 = 'javascript:void(0);';
- var tel = "location.href = 'tel:'+$(this).text().replace(/(\s|\(|\)|\-)/g,'')+'';";
- var lorem = 'Истребитель F-16 ВВС США столкнулся с частным самолетом Cessna в 18 километрах от Чарлстона, штат Южная Каролина. По словам военных, пилот боевого самолета успел катапультироваться перед падением истребителя. Судьба Cessna и тех, кто находился на борту этого воздушного судна, не уточняется.'

//- Build time for cache reset
- var timestamp = new Date().getTime();

//---- Add blocks ----//
include ../../tmp/blocks.jade

//---- Add frameworks list ----//
- var scriptList = [[],[],[]];
- var styleList = [];
include ../../tmp/vendor-js.jade

doctype html
html(lang="ru")
	head

		// Meta
		meta(charset='utf-8')
		meta(name='viewport' id='viewport' content='width=device-width, initial-scale=1, minimal-ui')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='imagetoolbar' content='no')
		meta(name='msthemecompatible' content='no')
		meta(name='cleartype' content='on')
		meta(name='HandheldFriendly' content='True')

		meta(name='format-detection' content='telephone=no')
		meta(name='format-detection' content='address=no')

		meta(name='apple-mobile-web-app-capable' content='yes')
		meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')

		block head


		// Styles
		// Vendor styles
		each src in styleList
			link(href=src rel='stylesheet')

		// Global styles
		link(href='./css/optimize.css' rel='stylesheet')
		link(href='./css/fonts.css?' + timestamp rel='stylesheet')
		link(href='./css/fontawesome.css?' + timestamp rel='stylesheet')
		link(href='./css/global.css?' + timestamp rel='stylesheet')
		link(href='./css/adaptive.css?' + timestamp rel='stylesheet')


		block stylesheets

		// Scripts
		// Vendor scripts
		//- Add frameworks scripts
		each array in scriptList
			each src in array
				script(src=src)

		// Global scripts
		//- Add block scripts
		script(src='./js/blocks.js?' + timestamp)
		script(src='./js/blocks.dummy.js?' + timestamp)
		script(src='./js/global.js?' + timestamp)
		script(src='./js/script.js?' + timestamp)

		block scripts

		// html5shiv, respond.js
		//
		<!--[if lte IE 8]>
		<script type="text/javascript" src="./js/vendor/html5shiv/html5shiv.min.js"></script>
		<script type="text/javascript" src="./js/vendor/respond/respond.min.js"></script>
		<![endif]-->

	body
		block content

