extend default

block content
	.layout
		.layout__wrap-content
			header.layout__header
				+header
				+header-mobile

			.content-center
				block pageheader
					.layout__page-header
						block breadcrumbs
							+breadcrumbs
						block h1
							h1 Заголовок страницы

				.layout__columns
					block columns
						section.layout__small-col.is-hide-mobile
							block left-column
								p Левая колонка
						main.layout__content.layout__large-col
							block inner-content

		footer.layout__footer
			+footer
			+footer-mobile
