extend default

block content
	.layout
		.layout__wrap-content
			header.layout__header
				+header
				+header-mobile

			main.layout__content
				block inner-content

		footer.layout__footer
			+footer
			+footer-mobile