button {
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-size: 29px;
  font-family: "PTSans";
}

button.is-green {
  color: #fff;
}

button.is-white {
  background-color: #F6F6F4;
}
