@charset "UTF-8";
/**colors**/
/***/
.content-area a {
  color: #0099FF;
  text-decoration: underline;
}

.content-area a:hover {
  color: #6dc5ff;
  text-decoration: underline;
}

/**colors**/
/***/
.content-area a {
  color: #0099FF;
  text-decoration: underline;
}

.content-area a:hover {
  color: #6dc5ff;
  text-decoration: underline;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.is-green-text {
  color: #1D564D;
}

.big-letter {
  float: left;
  font-size: 113px;
  margin-top: -34px;
  padding-right: 10px;
  color: #013334;
  font-family: "Lora", serif;
}

strong {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-size: 12px;
  padding: 3px 14px;
  -webkit-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
}

button.is-green {
  color: #fff;
  background-color: #003838;
}

button.is-white {
  color: #C8AF79;
  background-color: #F6F6F4;
}

.about__text {
  font-size: 15px;
}

.about__text.is-green-text {
  font-size: 17px;
  width: 73%;
  line-height: 1.5;
  margin: 0 auto;
}

.infocenter {
  margin-top: 60px;
  padding: 30px;
  background-color: rgba(153, 153, 153, 0.18);
}

.infocenter h3 {
  float: left;
  margin-bottom: 0 !important;
  padding-top: 3px;
  font-family: "Lora", serif;
}

.infocenter button {
  float: right;
  border: none;
  padding: 10px 20px 10px 40px;
  font-family: "Lora", serif;
  font-size: 16px;
  color: #C8AF79;
}

.main-slider__section {
  margin-bottom: 60px;
}

.main-slider {
  position: relative;
  margin: 0 auto;
  top: 0px;
  left: 0px;
  width: 960px;
  height: 484px !important;
  overflow: hidden;
  visibility: hidden;
}

.main-slider__item {
  width: 100%;
}

.main-slider__item img {
  max-width: 100%;
}

.main-slider__item-text {
  background-color: transparent;
  color: #013334;
  line-height: 1.4;
  right: 60px;
  top: 50px;
  width: 150px;
}

.main-slider__item-text h3 {
  font-family: "Lora", serif;
  font-size: 17px;
  margin-bottom: 10px;
}

.main-slider__item-text p {
  font-size: 9px;
}

.main-slider__item-link {
  position: absolute;
  bottom: 70px;
  font-family: "Lora", serif;
  text-decoration: none;
}

.main-slider__item-link a {
  color: #fff;
  text-decoration: none;
  padding: 15px;
  font-size: 11px;
}

.main-slider__item-link a:first-child {
  background-color: rgba(11, 61, 52, 0.6);
}

.main-slider__item-link a:last-child {
  background-color: rgba(11, 61, 52, 0.7);
}

.project-slider__item-text {
  background-color: rgba(11, 61, 52, 0.7);
  color: #fff;
  position: absolute;
  left: 70px;
  top: 60px;
  padding: 30px 40px;
  width: 42%;
}

.project-slider__item-text h4 {
  margin-bottom: 0;
  font-family: "Lora", serif;
  font-size: 14px;
}

.project-slider__item-text p {
  font-size: 9px;
}

.project-slider__item-text a {
  font-family: "Lora", serif;
  color: #D6C2AA;
  font-size: 10px;
  text-decoration: none;
}

.project-slider__caption {
  font-size: 10px;
}

/*-- Вспомогательные стили --*/
.content-center {
  position: relative;
  margin-left: -2.5%;
}

.content-center:after {
  content: '';
  display: block;
  clear: left;
}

.content-center .col-3 {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 30.83333%;
  margin-left: 2.5%;
}

.about__block {
  position: relative;
  margin-left: -2.5%;
}

.about__block:after {
  content: '';
  display: block;
  clear: left;
}

.about__block .about__text-wrapper {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 47.5%;
  margin-left: 2.5%;
}

.clearme:after {
  content: '';
  clear: both;
  display: block;
}

.noclear {
  clear: none;
}

.clearfix {
  *zoom: 1;
}

.clearfix::before, .clearfix::after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix::after {
  clear: both;
}

.rouble {
  font-family: rouble, "PT Sans", sans-serif;
}

.center {
  text-align: center;
}

body .nomargin {
  margin-top: 0;
  margin-bottom: 0;
}

.content-center {
  width: 95%;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (max-width: 1210px) {
  .content-center {
    min-width: 980px;
  }
}

@media screen and (max-width: 767px) {
  .content-center {
    min-width: auto;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.rub {
  display: inline-block;
  width: 1em;
  overflow: hidden;
  vertical-align: bottom;
  white-space: nowrap;
}

.rub:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
  content: "";
}

.rub:before {
  font-size: 0.9em;
  margin-right: 1em;
}

/*-- Структура страницы --*/
html {
  /* Фиксированный футер */
}

html .layout {
  position: relative;
}

html.is-footer-fixed {
  position: relative;
  min-height: 100%;
}

html.is-footer-fixed body {
  margin-bottom: 0;
}

html.is-footer-fixed .layout {
  position: static;
}

html.is-footer-fixed .layout__footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  color: #002A2B;
  background-color: #F6F6F4;
}

/*-- Контентные стили --*/
/* Заголовки */
.h1, h1 {
  margin-top: 60px;
  margin-bottom: 50px;
  font-family: "PT Sans", sans-serif;
  font-size: 250%;
  line-height: 1.2;
  font-weight: bold;
}

.h1:first-child, h1:first-child {
  margin-top: 0;
}

.h1:last-child, h1:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .h1, h1 {
    font-size: 200%;
    margin-bottom: 30px;
  }
  .h1:last-child, h1:last-child {
    margin-bottom: 0;
  }
}

.h2, h2 {
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 200%;
  line-height: 1.2;
  font-weight: bold;
}

.h2:first-child, h2:first-child {
  margin-top: 0;
}

.h2:last-child, h2:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .h2, h2 {
    font-size: 180%;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .h2:first-child, h2:first-child {
    margin-top: 0;
  }
  .h2:last-child, h2:last-child {
    margin-bottom: 0;
  }
}

.h3, h3 {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 180%;
  line-height: 1.2;
  font-weight: bold;
}

.h3:first-child, h3:first-child {
  margin-top: 0;
}

.h3:last-child, h3:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .h3, h3 {
    font-size: 150%;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .h3:first-child, h3:first-child {
    margin-top: 0;
  }
  .h3:last-child, h3:last-child {
    margin-bottom: 0;
  }
}

.h4, h4 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 120%;
  line-height: 1.2;
  font-weight: bold;
}

.h4:first-child, h4:first-child {
  margin-top: 0;
}

.h4:last-child, h4:last-child {
  margin-bottom: 0;
}

.h5, h5 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 100%;
  font-weight: bold;
}

.h5:first-child, h5:first-child {
  margin-top: 0;
}

.h5:last-child, h5:last-child {
  margin-bottom: 0;
}

.heading-note {
  font-size: 14px;
  line-height: 1.42857;
  vertical-align: baseline;
  margin-left: 5px;
}

/* Списки */
ul.horizontal, ol.horizontal {
  margin: 0;
  padding: 0;
}

ul.horizontal > li, ol.horizontal > li {
  display: inline-block;
  margin: 5px 0;
  margin-right: 1em;
  vertical-align: middle;
}

.content-area ul {
  list-style: initial;
  padding-left: 30px;
}

.content-area ul > li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.content-area ul > li:first-child {
  margin-top: 0;
}

.content-area ul > li:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .content-area ul {
    padding-left: 15px;
  }
}

.content-area ul.marked, .content-area ol {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 30px;
}

.content-area ul.marked:first-child, .content-area ol:first-child {
  margin-top: 0;
}

.content-area ul.marked:last-child, .content-area ol:last-child {
  margin-bottom: 0;
}

.content-area ul.marked.indent, .content-area ol.indent {
  margin-left: 70px;
}

@media screen and (max-width: 767px) {
  .content-area ul.marked, .content-area ol {
    padding-left: 15px;
  }
}

@media screen and (max-width: 767px) {
  .content-area ol {
    padding-left: 20px;
  }
}

.content-area ul.marked > li {
  position: relative;
}

.content-area ul.marked > li:before {
  content: " ";
  background: url("../img/icons/ico-list-arrow-grey.png");
  width: 5px;
  height: 8px;
  position: absolute;
  top: 8px;
  left: -30px;
}

.content-area ol {
  list-style-type: none;
  counter-reset: item;
}

.content-area ol > li {
  position: relative;
}

.content-area ol > li:before {
  content: counter(item) ".";
  counter-increment: item;
  position: absolute;
  left: -30px;
}

@media screen and (max-width: 767px) {
  .content-area ol > li:before {
    left: -20px;
  }
}

.content-area ul.marked li, .content-area ol li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.content-area ul.marked li:first-child, .content-area ol li:first-child {
  margin-top: 0;
}

.content-area ul.marked li:last-child, .content-area ol li:last-child {
  margin-bottom: 0;
}

.content-area ul.marked li > ul, .content-area ul.marked li > ol, .content-area ol li > ul, .content-area ol li > ol {
  margin-top: 0px;
  margin-bottom: 0px;
}

.content-area ul.marked li > ul:first-child, .content-area ul.marked li > ol:first-child, .content-area ol li > ul:first-child, .content-area ol li > ol:first-child {
  margin-top: 0;
}

.content-area ul.marked li > ul:last-child, .content-area ul.marked li > ol:last-child, .content-area ol li > ul:last-child, .content-area ol li > ol:last-child {
  margin-bottom: 0;
}

.content-area ul.nostyle, .content-area ol.nostyle {
  margin: 0;
  list-style: none;
}

.content-area ul.nostyle > li, .content-area ol.nostyle > li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.content-area ul.nostyle > li:first-child, .content-area ol.nostyle > li:first-child {
  margin-top: 0;
}

.content-area ul.nostyle > li:last-child, .content-area ol.nostyle > li:last-child {
  margin-bottom: 0;
}

.content-area ul.horizontal, .content-area ol.horizontal {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
}

.content-area ul.horizontal:first-child, .content-area ol.horizontal:first-child {
  margin-top: 0;
}

.content-area ul.horizontal:last-child, .content-area ol.horizontal:last-child {
  margin-bottom: 0;
}

.content-area ul.horizontal > li, .content-area ol.horizontal > li {
  display: inline-block;
  margin: 5px 0;
  margin-right: 1em;
  vertical-align: middle;
}

.content-area ul.attention {
  font-weight: bold;
}

.content-area img {
  max-width: 100%;
}

/* Абзацы */
p {
  margin-bottom: 20px;
}

p:last-child {
  margin-bottom: 0;
}

p.intro {
  font-weight: bold;
  font-size: 120%;
}

p.insert {
  padding: 20px 0;
  padding-left: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 150%;
  text-align: left;
  color: #4183c4;
  border-top: 2px solid #4183c4;
  border-bottom: 2px solid #4183c4;
}

p.insert:first-child {
  margin-top: 0;
}

p.insert:last-child {
  margin-bottom: 0;
}

p.note-right {
  float: right;
  clear: right;
  width: 25%;
  border-left: 4px solid #ffd021;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
}

p.note-left {
  float: left;
  clear: left;
  width: 25%;
  border-right: 4px solid #ffd021;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  margin-right: 30px;
  text-align: right;
}

p.white {
  background-color: #fff;
}

p.note-big-center {
  clear: both;
  border-left: 4px solid #ffd021;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 116.66667%;
  line-height: 1.92857;
}

p.quote-big-center {
  position: relative;
  clear: both;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 150px;
  padding-right: 100px;
  font-size: 108.33333%;
  line-height: 1.69231;
}

p.quote-big-center:before {
  content: " ";
  background: url("../img/icons/ico-quote.png");
  width: 26px;
  height: 21px;
  position: absolute;
  top: 44px;
  left: 100px;
}

/* Ссылки */
a {
  text-decoration: underline;
  color: #0099FF;
}

a:hover {
  text-decoration: none;
}

a.doc-link:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
  content: "";
  margin-right: .5em;
}

a.callback-link {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  letter-spacing: .05em;
  text-decoration: none;
  color: white;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}

a.callback-link:hover {
  color: #ffd83c;
}

a.dashed-link {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px dashed #4183c4;
}

a.dashed-link:hover {
  border-bottom-style: solid;
}

a.more-link {
  margin-top: 20px;
  margin-bottom: 20px;
}

a.more-link:first-child {
  margin-top: 0;
}

a.more-link:last-child {
  margin-bottom: 0;
}

a.nocolor-link {
  color: inherit;
}

a.heading-link {
  font-size: 70%;
  margin-left: 20px;
}

a.pseudo-link, a.header-mobile__callback {
  text-decoration: none;
  border-bottom: 1px dashed;
}

a.pseudo-link:hover, a.header-mobile__callback:hover {
  border-bottom: none;
}

a.bg-link {
  font-size: 11px;
  color: #146b95;
  padding: 0px 8px;
  background-color: #fff;
  line-height: 20px;
  display: inline-block;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  text-decoration: none;
  margin: 5px;
}

a.bg-link:hover {
  color: #fff;
  background-color: #024d72;
}

a.bg-link:active {
  color: #fff;
  background-color: #c7c7ca;
}

/* Изображения */
img.image-left {
  clear: left;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
  max-width: 50%;
}

img.image-right {
  clear: right;
  float: right;
  margin-left: 30px;
  margin-bottom: 20px;
  max-width: 50%;
}

figure {
  clear: both;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  color: #666;
}

figure:last-child {
  margin-bottom: 0;
}

figure img {
  max-width: 100%;
  margin-bottom: 10px;
}

figure img:last-child {
  margin-bottom: 0;
}

/* Кнопки */
.button, .button-primary, .button-big, .header-mobile__phone, .button-secondary {
  background: #f4f5f8;
  display: inline-block;
  padding: 4px 15px;
  line-height: 1.5;
  text-decoration: none;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  color: #000;
  border: none;
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.button:hover, .button-primary:hover, .button-big:hover, .header-mobile__phone:hover, .button-secondary:hover {
  background: #5d5d5d;
}

.button:active, .button-primary:active, .button-big:active, .header-mobile__phone:active, .button-secondary:active {
  color: #000;
  background: #f4f5f8;
}

.button-primary {
  background: #0099FF;
  color: white;
  border: none;
}

.button-primary:hover {
  background: #0a9dff;
}

.button-big, .header-mobile__phone {
  font-size: 14px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
}

.button-secondary {
  background: #0099FF;
  color: white;
  border: none;
}

.button-secondary:hover {
  background: #0a9dff;
}

/* Таблицы */
.table, .table-small {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 90%;
}

.table:first-child, .table-small:first-child {
  margin-top: 0;
}

.table:last-child, .table-small:last-child {
  margin-bottom: 0;
}

.table td, .table-small td,
.table th, .table-small th {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1em;
  padding-right: 1em;
  vertical-align: middle;
  text-align: left;
}

.table td, .table-small td {
  color: #002A2B;
}

.table th, .table-small th {
  color: #666;
  background: #f4f5f8;
}

.table a, .table-small a {
  font-family: "PT Sans", sans-serif;
  line-height: 20px;
}

.table .price, .table-small .price {
  white-space: nowrap;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

.table.b2b .center, .b2b.table-small .center {
  text-align: center;
}

.table.b2b .nowrap, .b2b.table-small .nowrap {
  white-space: nowrap;
}

.table.b2b tr:nth-child(2n) td, .b2b.table-small tr:nth-child(2n) td {
  background: #f8f8f9;
}

.table.b2b tr:last-child, .b2b.table-small tr:last-child {
  border-bottom: 2px solid #c1c1c1;
}

.table.b2b th, .b2b.table-small th {
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: transparent;
  color: #999;
  font-size: 91.66667%;
  line-height: 1.63636;
}

.table.b2b td, .b2b.table-small td {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #002A2B;
  /*&:first-child {
						padding-left: 1em;
					}
					&:last-child {
						padding-right: 1em;
					}*/
}

.table.b2b a, .b2b.table-small a {
  color: #0099FF;
  text-decoration: none;
}

.table.stripes tr:nth-child(2n) td, .stripes.table-small tr:nth-child(2n) td {
  background: #fff;
}

.table.stripes tr:nth-child(2n+1) td, .stripes.table-small tr:nth-child(2n+1) td {
  background: #f4f5f8;
}

.table.stripes td:first-child, .stripes.table-small td:first-child {
  padding-left: 1em;
}

.table.stripes td:last-child, .stripes.table-small td:last-child {
  padding-right: 1em;
}

.table-small {
  width: auto;
}

/* Галерея */
.fancybox-skin {
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: #fff;
}

.fancybox-wrap {
  -webkit-border-radius: 0;
          border-radius: 0;
  margin-bottom: 25px;
  max-width: 100%;
}

.fancybox-wrap.is-video .fancybox-close {
  right: -25px;
  top: 0;
}

.fancybox-close {
  top: 5px;
  right: 10px;
  width: auto;
  height: auto;
  background-image: none;
  text-decoration: none;
  color: gray;
  font-size: 18px;
}

.fancybox-close:hover {
  color: black;
}

.fancybox-close:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
  content: "";
}

.fancybox-inner.is-default {
  height: auto !important;
}

.fancybox-wrap.is-ajax {
  visibility: hidden;
}

.fancybox-nav {
  width: 50px;
}

.fancybox-nav span {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  visibility: visible;
  margin-top: -10px;
  color: gray;
}

.fancybox-nav span:hover {
  color: black;
}

.fancybox-next {
  right: -50px;
}

.fancybox-next span {
  background: none;
}

.fancybox-next span:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
  content: "";
}

.fancybox-prev {
  left: -50px;
}

.fancybox-prev span {
  background: none;
}

.fancybox-prev span:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
  content: "";
}

/* Прочее */
b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

/*-- Стилизация UI элементов --*/
/* Inputs, textarea */
[type="text"],
[type="password"],
[type="email"],
[type="tel"] {
  height: 2em;
  line-height: 2em;
  font-size: 14px;
  line-height: 1.42857;
  padding: 0 10px;
  border: 1px solid #999999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[type="text"]::-webkit-input-placeholder,
[type="password"]::-webkit-input-placeholder,
[type="email"]::-webkit-input-placeholder,
[type="tel"]::-webkit-input-placeholder {
  color: #999;
}

[type="text"]::-moz-placeholder,
[type="password"]::-moz-placeholder,
[type="email"]::-moz-placeholder,
[type="tel"]::-moz-placeholder {
  color: #999;
}

[type="text"]:-moz-placeholder,
[type="password"]:-moz-placeholder,
[type="email"]:-moz-placeholder,
[type="tel"]:-moz-placeholder {
  color: #999;
}

[type="text"]:-ms-input-placeholder,
[type="password"]:-ms-input-placeholder,
[type="email"]:-ms-input-placeholder,
[type="tel"]:-ms-input-placeholder {
  color: #999;
}

[type="text"].ui-placeholder,
[type="password"].ui-placeholder,
[type="email"].ui-placeholder,
[type="tel"].ui-placeholder {
  color: #999;
}

[type="text"]:focus,
[type="password"]:focus,
[type="email"]:focus,
[type="tel"]:focus {
  outline: none !important;
  border-color: #4183c4;
}

[type="text"]:focus::-webkit-input-placeholder,
[type="password"]:focus::-webkit-input-placeholder,
[type="email"]:focus::-webkit-input-placeholder,
[type="tel"]:focus::-webkit-input-placeholder {
  color: transparent;
}

[type="text"]:focus::-moz-placeholder,
[type="password"]:focus::-moz-placeholder,
[type="email"]:focus::-moz-placeholder,
[type="tel"]:focus::-moz-placeholder {
  color: transparent;
}

[type="text"]:focus:-moz-placeholder,
[type="password"]:focus:-moz-placeholder,
[type="email"]:focus:-moz-placeholder,
[type="tel"]:focus:-moz-placeholder {
  color: transparent;
}

[type="text"]:focus:-ms-input-placeholder,
[type="password"]:focus:-ms-input-placeholder,
[type="email"]:focus:-ms-input-placeholder,
[type="tel"]:focus:-ms-input-placeholder {
  color: transparent;
}

[type="text"]:focus.ui-placeholder,
[type="password"]:focus.ui-placeholder,
[type="email"]:focus.ui-placeholder,
[type="tel"]:focus.ui-placeholder {
  color: transparent;
}

label {
  cursor: pointer;
}

textarea {
  height: 10em;
  font-size: 14px;
  line-height: 1.42857;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 10px;
  border: 1px solid #999999;
  resize: vertical;
}

textarea:focus {
  outline: none !important;
  border-color: #4183c4;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus::-moz-placeholder {
  color: transparent;
}

textarea:focus:-moz-placeholder {
  color: transparent;
}

textarea:focus:-ms-input-placeholder {
  color: transparent;
}

textarea:focus.ui-placeholder {
  color: transparent;
}

/* Checkbox, radio */
.icheckbox {
  vertical-align: middle;
  font-size: 120%;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  _height: 15px;
  width: 20px;
  height: 20px;
  margin-top: -3px;
  text-align: center;
  margin-right: .3em;
  background: #fff;
  border: 1px solid gray;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  cursor: pointer;
}

.icheckbox.checked:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
  content: "";
  position: relative;
  top: -2px;
  font-size: 14px;
  line-height: 14px;
  margin-top: -2px;
  color: #4183c4;
}

.iradio {
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-top: -2px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  _height: 15px;
  margin-right: .3em;
  border: 1px solid gray;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  background: #fff;
}

.iradio.checked:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #4183c4;
}

/* Select2 */
.select2-selection__rendered span.is-img-point,
.select2-results__option span.is-img-point {
  content: '';
  display: inline-block;
  vertical-align: sub;
  width: 16px;
  height: 16px;
  margin-top: 6px;
  background: transparent 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  margin-right: 6px;
}

.select2-container--default .select2-selection--single {
  border: 1px solid gray;
}

.select2-container--default .select2-selection--single {
  height: 30px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 28px;
  padding-left: 10px;
  padding-right: 30px;
}

.select2-container--default .select2-selection .select2-selection__arrow {
  width: 25px;
}

.select2-container--default .select2-selection .select2-selection__arrow:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
  content: "";
  position: absolute;
  font-size: 12px;
  top: 50%;
  margin-top: -6px;
  margin-left: 6px;
  text-align: center;
}

.select2-container--default .select2-selection .select2-selection__arrow b {
  border: none;
}

.select2-container--default .dropdown-wrapper {
  border: none;
}

.select2-container--default .select2-dropdown {
  border: 1px solid gray;
  overflow: hidden;
}

.select2-container--default .select2-dropdown--above {
  border-bottom: none;
  margin-bottom: -1px;
}

.select2-container--default .select2-dropdown--below {
  border-top: none;
  margin-top: -1px;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection {
  border-top: transparent;
  /*border: none;*/
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection {
  border-bottom: transparent;
  /*border: none;*/
}

.select2-container--default .select2-results__option {
  margin: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-left: none;
  border-right: none;
}

.select2-container--default .select2-results__option {
  padding-left: 10px;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  position: relative;
  background-color: #f8f8f8;
  color: #002A2B;
  /*&:after {
					content: '\00A0\f00c';
					font-family: FontAwesome;
					font-weight: normal;
					font-style: normal;
					text-decoration:none;
					display: inline-block;
					margin-left: .25em;
					margin-top: -2px;
					vertical-align: middle;
					font-size: 10px;
				}*/
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #f8f8f8;
  color: #002A2B;
  /*background-color: #f1f1f1;
				color: black;*/
}

.select2-container--default.select2-container--open .select2-selection .select2-selection__arrow:before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.modals {
  display: none;
}

/*-- Уведомление о статусе заказа --*/
.order-status-notice, .order-status-success, .order-status-info, .order-status-warning, .order-status-danger {
  display: inline-block;
  padding: 5px 10px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: none;
  line-height: 1.5;
  font-size: 100%;
  color: black;
}

.order-status-success {
  background: #dff0d7;
}

.order-status-info {
  background: #d8edf8;
}

.order-status-warning {
  background: #fcf8e2;
}

.order-status-danger {
  background: #f2dede;
}

.is-hide {
  display: none;
}

@media screen and (max-width: 767px) {
  .is-hide-mobile {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .is-hide-desktop {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .fancybox-wrap {
    left: 0 !important;
  }
  .fancybox-wrap.is-video .fancybox-close {
    right: 10px;
    top: 10px;
  }
  .fancybox-close {
    top: 10px;
    right: 10px;
    position: fixed;
    width: 32px;
    height: 32px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    background: #eee;
  }
  .fancybox-close:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
    content: "";
    display: block;
    width: 12px;
    height: 12px;
  }
  .fancybox-inner {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    overflow-y: scroll !important;
    width: auto !important;
    height: auto !important;
    background: #eee;
  }
  .fancybox-wrap.is-ajax {
    visibility: hidden;
  }
  .fancybox-nav {
    width: 50px;
  }
  .fancybox-nav span {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    visibility: visible;
    margin-top: -10px;
    color: gray;
  }
  .fancybox-nav span:hover {
    color: black;
  }
  .fancybox-next {
    right: -50px;
  }
  .fancybox-next span {
    background: none;
  }
  .fancybox-next span:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
    content: "";
  }
  .fancybox-prev {
    left: -50px;
  }
  .fancybox-prev span {
    background: none;
  }
  .fancybox-prev span:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
    content: "";
  }
}

@media screen and (max-width: 767px) and (max-width: 767px) {
  .fancybox-image {
    width: auto;
    height: auto;
  }
}

.success-message-modal {
  display: none;
  padding: 40px;
}

.success-message-modal__caption {
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 200%;
  line-height: normal;
  font-weight: 700;
}

.success-message-modal__caption:first-child {
  margin-top: 0;
}

.success-message-modal__caption:last-child {
  margin-bottom: 0;
}

.success-message-modal__text.error {
  color: #d30116;
}

.success-message-modal__close-holder {
  margin-top: 20px;
  text-align: center;
}

.success-message-modal__close-holder:first-child {
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  body.is-fixed #bx-panel {
    display: none !important;
  }
}

/*-- Блоки --*/
.header {
  border-bottom: 1px solid #1E554F;
  background-color: #003838;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__left {
  text-align: right;
  width: 20%;
}

.header__language {
  margin-bottom: 10px;
}

.header__language-link {
  font-size: 13px;
}

.header__cabinet {
  margin-bottom: 16px;
}

.header__cabinet-link {
  text-decoration: none;
  border-bottom: 1px dashed #fff;
  font-size: 21px;
  font-family: "Lora", serif;
}

.header__logo {
  text-align: center;
  width: 60%;
}

.header__logo-block a {
  display: block;
}

.header__logo-text {
  color: #C8AF79;
}

.header__right {
  text-align: left;
  width: 20%;
}

.header__phone {
  margin-bottom: 12px;
  font-size: 24px;
  font-family: "Lora", serif;
}

.header__phone a {
  text-decoration: none;
}

.header__write {
  margin-bottom: 10px;
}

.header__write a {
  font-size: 13px;
}

.header a {
  color: #fff;
}

.header button {
  color: #fff;
  border: 2px solid #fff;
  background-color: #003838;
}

.header button:hover {
  background-color: #FFD27A;
  color: #003838;
  border: 2px solid #FFD27A;
}

.header-mobile {
  padding-top: 46px;
}

.header-mobile__line {
  height: 46px;
  left: 0;
  top: 0;
  right: 0;
  position: absolute;
  background: #5d5d5d;
  z-index: 100;
}

.header-mobile.is-menu-opened .header-mobile__line {
  position: fixed;
}

.header-mobile__left {
  float: left;
}

.header-mobile__right {
  float: right;
}

.header-mobile__call, .header-mobile__search, .header-mobile__cart, .header-mobile__menu {
  display: inline-block;
  width: 46px;
  height: 46px;
  vertical-align: middle;
}

.header-mobile__call-link, .header-mobile__search-button, .header-mobile__cart-button, .header-mobile__menu-button {
  display: block;
  width: 46px;
  height: 46px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  position: relative;
}

.header-mobile__call-link.is-active, .header-mobile__search-button.is-active, .header-mobile__cart-button.is-active, .header-mobile__menu-button.is-active {
  background: white;
}

.header-mobile__cart-button {
  text-indent: -6px;
}

.header-mobile__cart-counter {
  width: 15px;
  height: 15px;
  position: absolute;
  color: white;
  background: #4183c4;
  text-align: center;
  font-size: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  right: 6px;
  top: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 1px;
  text-indent: -1px;
}

.header-mobile__cart-empty {
  font-size: 150%;
  color: #999;
  text-align: center;
}

.header-mobile__catalog {
  display: inline-block;
  height: 46px;
  vertical-align: middle;
}

.header-mobile__catalog-button {
  display: inline-block;
  height: 46px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 100%;
  text-transform: uppercase;
  line-height: 46px;
  color: white;
  text-decoration: none;
  color: white;
}

.header-mobile__catalog-button:hover {
  color: white;
}

.header-mobile__catalog-button:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
  content: "";
  font-size: 16px;
  margin-left: 8px;
}

.header-mobile__catalog-button.is-active {
  background: white;
  color: black;
}

.header-mobile__call-icon, .header-mobile__search-icon, .header-mobile__cart-icon, .header-mobile__menu-icon {
  color: white;
  font-size: 150%;
  line-height: 46px;
}

.is-active > .header-mobile__call-icon, .is-active > .header-mobile__search-icon, .is-active > .header-mobile__cart-icon, .is-active > .header-mobile__menu-icon {
  color: #4183c4;
}

.header-mobile__call-icon:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
  content: "";
}

.header-mobile__search-icon:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
  content: "";
}

.header-mobile__cart-icon:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
  content: "";
}

.header-mobile__menu-icon:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
  content: "";
}

.header-mobile__catalog-holder, .header-mobile__call-holder, .header-mobile__search-holder, .header-mobile__cart-holder, .header-mobile__menu-holder {
  background: white;
  position: fixed;
  left: 0;
  top: 46px;
  right: 0;
  z-index: 100;
  display: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 26px 10px;
  overflow-y: scroll;
}

.header-mobile__catalog-holder.is-active, .header-mobile__call-holder.is-active, .header-mobile__search-holder.is-active, .header-mobile__cart-holder.is-active, .header-mobile__menu-holder.is-active {
  display: block;
}

.header-mobile__catalog-holder.is-fullscreen, .header-mobile__call-holder.is-fullscreen, .header-mobile__search-holder.is-fullscreen, .header-mobile__cart-holder.is-fullscreen, .header-mobile__menu-holder.is-fullscreen {
  bottom: 0;
}

.header-mobile__menu-holder a {
  color: #000000;
}

.header-mobile__catalog-holder {
  bottom: 0;
  padding: 0;
}

.header-mobile__menu-holder {
  bottom: 0;
}

.header-mobile__call-holder {
  text-align: center;
}

.header-mobile__plate-item {
  margin-top: 20px;
  margin-bottom: 20px;
}

.header-mobile__plate-item:first-child {
  margin-top: 0;
}

.header-mobile__plate-item:last-child {
  margin-bottom: 0;
}

.header-mobile__plate-section {
  border-bottom: 1px solid #cccccc;
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .header-mobile__plate-section {
    margin-left: -10px;
    margin-right: -10px;
  }
  .fancybox-inner .header-mobile__plate-section {
    margin-left: 0;
    margin-right: 0;
  }
}

.header-mobile__plate-section:first-child {
  padding-top: 0;
}

.header-mobile__plate-section:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.header-mobile__plate-horlink {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
}

.header-mobile__plate-horlink:first-child {
  margin-left: 0;
}

.header-mobile__phone {
  font-size: 140%;
  width: 100%;
}

.header-mobile__callback {
  color: #0099FF;
}

.header-mobile__logo {
  background: white;
  padding: 10px;
}

.header-mobile__logo-img {
  display: block;
}

.header-mobile__exit {
  margin-left: 20px;
}

.header-mobile__exit:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
  content: "";
}

.header-mobile__exit:before {
  margin-right: 5px;
}

.menu-top {
  background-color: #013334;
}

.menu-top__first-level {
  position: relative;
  display: table;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu-top__first-level:after {
  content: '';
  display: block;
  clear: both;
}

.menu-top__first-item {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  background-color: #013334;
  border-bottom: 6px solid transparent;
}

.menu-top__first-item:hover {
  border-bottom-color: #FFD27A;
}

.menu-top__first-item:hover .menu-top__second-holder,
.menu-top__first-item:hover .menu-top__additional-holder {
  display: block;
}

.menu-top__first-item.is-additional {
  position: relative;
}

.menu-top__first-link {
  position: relative;
  text-decoration: none;
  color: #D6C2AA;
  display: block;
  padding: 30px 14px 24px 14px;
  text-transform: uppercase;
  font-size: 13px;
  color: #D6C2AA;
  font-weight: bold;
}

.menu-top__first-link:visited {
  color: #D6C2AA;
}

.menu-top__first-link:hover, .menu-top__first-link:visited:hover {
  color: #FFD27A;
}

.menu-top__first-link.is-catalog {
  padding-left: 25px;
}

.menu-top__first-link.is-catalog:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -.55em;
}

.menu-top__second-holder {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 1001;
  width: 100%;
  min-width: 250px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu-top__second-level {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-top__second-item {
  position: relative;
}

.menu-top__second-item:hover .menu-top__third-holder {
  display: block;
}

.menu-top__second-item.is-contain .menu-top__second-link {
  position: relative;
}

.menu-top__second-item.is-contain .menu-top__second-link:before {
  content: "\2026";
  float: right;
  padding-left: 0.5em;
}

.menu-top__second-link {
  display: block;
  padding: 10px 15px;
  background-color: #ccc;
  border: 1px solid white;
  position: relative;
  text-decoration: none;
  color: #333333;
}

.menu-top__second-link:visited {
  color: #333333;
}

.menu-top__second-link:hover, .menu-top__second-link:visited:hover {
  background-color: #bbb;
  color: #333333;
}

.menu-top__third-holder {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  min-width: 250px;
}

.menu-top__third-item {
  position: relative;
}

.menu-top__third-item:hover .menu-top__fourth-holder {
  display: block;
}

.menu-top__third-item.is-hide {
  display: none;
}

.menu-top__third-link {
  position: relative;
  text-decoration: none;
  color: #333333;
  display: block;
  padding: 10px 15px;
  background-color: #ccc;
  border: 1px solid white;
}

.menu-top__third-link:visited {
  color: #333333;
}

.menu-top__third-link:hover, .menu-top__third-link:visited:hover {
  background-color: #bbb;
  color: #333333;
}

.menu-top__fourth-holder {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  min-width: 250px;
  background-color: #ddd;
}

.menu-top__fourth-link {
  position: relative;
  text-decoration: none;
  color: #333333;
  display: block;
  padding: 10px 15px;
  background-color: #ccc;
  border: 1px solid white;
}

.menu-top__fourth-link:visited {
  color: #333333;
}

.menu-top__fourth-link:hover, .menu-top__fourth-link:visited:hover {
  background-color: #bbb;
  color: #333333;
}

.menu-top__additional-holder {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 1001;
  width: 100%;
  min-width: 150px;
}

.menu-top__additional-level {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-top__additional-item {
  position: relative;
}

.menu-top__additional-item:hover .menu-top__third-holder {
  display: block;
}

.menu-top__additional-link {
  display: block;
  padding: 10px 15px;
  background-color: #888;
  border: 1px solid white;
  color: white;
  position: relative;
  text-decoration: none;
  color: #D6C2AA;
}

.menu-top__additional-link:visited {
  color: #D6C2AA;
}

.menu-top__additional-link:hover, .menu-top__additional-link:visited:hover {
  color: #FFD27A;
}

.menu-top__more-link {
  display: none;
  font-size: 90%;
  cursor: pointer;
}

.menu-top__more-link:hover {
  text-decoration: underline;
}

.menu-top__more-link.is-active {
  display: inline;
}

.menu-top__less-link {
  display: none;
  font-size: 90%;
  cursor: pointer;
}

.menu-top__less-link:hover {
  text-decoration: underline;
}

.menu-top__less-link.is-active {
  display: inline;
}

.menu-top__first-item.is-opened:after, .menu-top__second-item.is-opened:after, .menu-top__third-item.is-opened:after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-top.is-i-state .menu-top__first-item {
  position: static;
}

.menu-top.is-i-state .menu-top__first-item.is-additional {
  position: relative;
}

.menu-top.is-i-state .menu-top__second-holder {
  left: 0;
  right: 0;
  padding: 20px;
  background-color: #eee;
}

.menu-top.is-i-state .menu-top__second-holder:after {
  content: '';
  display: block;
  clear: both;
}

.menu-top.is-i-state .menu-top__second-level {
  float: left;
  width: 33.33333%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
}

.menu-top.is-i-state .menu-top__second-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu-top.is-i-state .menu-top__second-item:first-child {
  margin-top: 0;
}

.menu-top.is-i-state .menu-top__second-item:last-child {
  margin-bottom: 0;
}

.menu-top.is-i-state .menu-top__second-item.is-contain .menu-top__second-link:before {
  content: none;
}

.menu-top.is-i-state .menu-top__second-link {
  display: inline;
  background: none;
  border: none;
  padding: 0;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  color: #D6C2AA;
  color: #333333;
}

.menu-top.is-i-state .menu-top__second-link:visited {
  color: #D6C2AA;
}

.menu-top.is-i-state .menu-top__second-link:hover, .menu-top.is-i-state .menu-top__second-link:visited:hover {
  color: #FFD27A;
}

.menu-top.is-i-state .menu-top__second-link:hover, .menu-top.is-i-state .menu-top__second-link:visited, .menu-top.is-i-state .menu-top__second-link:visited:hover {
  color: #333333;
}

.menu-top.is-i-state .menu-top__third-holder {
  display: block;
  position: static;
  left: 100%;
  top: 0;
  width: 100%;
  min-width: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.menu-top.is-i-state .menu-top__third-holder:first-child {
  margin-top: 0;
}

.menu-top.is-i-state .menu-top__third-holder:last-child {
  margin-bottom: 0;
}

.menu-top.is-i-state .menu-top__third-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.menu-top.is-i-state .menu-top__third-item:first-child {
  margin-top: 0;
}

.menu-top.is-i-state .menu-top__third-item:last-child {
  margin-bottom: 0;
}

.menu-top.is-i-state .menu-top__third-link {
  display: inline;
  background: none;
  border: none;
  padding: 0;
}

.menu-top.is-z-state .menu-top__first-item {
  position: static;
}

.menu-top.is-z-state .menu-top__first-item.is-additional {
  position: relative;
}

.menu-top.is-z-state .menu-top__second-holder {
  left: 0;
  right: 0;
  padding: 20px;
  background-color: #eee;
}

.menu-top.is-z-state .menu-top__second-level {
  position: relative;
  margin-left: -2.5%;
  margin-top: -2.5%;
}

.menu-top.is-z-state .menu-top__second-level:after {
  content: '';
  display: block;
  clear: left;
}

.menu-top.is-z-state .menu-top__second-item {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 30.83333%;
  margin-left: 2.5%;
  margin-top: 2.5%;
}

.menu-top.is-z-state .menu-top__second-item:nth-child(3n+1) {
  clear: left;
}

.menu-top.is-z-state .menu-top__second-item.is-contain .menu-top__second-link:before {
  content: none;
}

.menu-top.is-z-state .menu-top__second-link {
  display: inline;
  background: none;
  border: none;
  padding: 0;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  color: #D6C2AA;
  color: #333333;
}

.menu-top.is-z-state .menu-top__second-link:visited {
  color: #D6C2AA;
}

.menu-top.is-z-state .menu-top__second-link:hover, .menu-top.is-z-state .menu-top__second-link:visited:hover {
  color: #FFD27A;
}

.menu-top.is-z-state .menu-top__second-link:hover, .menu-top.is-z-state .menu-top__second-link:visited, .menu-top.is-z-state .menu-top__second-link:visited:hover {
  color: #333333;
}

.menu-top.is-z-state .menu-top__third-holder {
  display: block;
  position: static;
  left: 100%;
  top: 0;
  width: 100%;
  min-width: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu-top.is-z-state .menu-top__third-holder:first-child {
  margin-top: 0;
}

.menu-top.is-z-state .menu-top__third-holder:last-child {
  margin-bottom: 0;
}

.menu-top.is-z-state .menu-top__third-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.menu-top.is-z-state .menu-top__third-item:first-child {
  margin-top: 0;
}

.menu-top.is-z-state .menu-top__third-item:last-child {
  margin-bottom: 0;
}

.menu-top.is-z-state .menu-top__third-link {
  display: inline;
  background: none;
  border: none;
  padding: 0;
}

.news__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -10px;
}

.news__item {
  width: 33.3333%;
  padding: 10px;
}

.news__item-inner {
  background-color: #fff;
  padding: 10px;
  height: 300px;
}

.news__item-top div {
  float: left;
}

.news__item-category {
  float: right !important;
  max-width: 50%;
  position: relative;
  color: #C8AF79;
}

.news__item-category:before {
  content: '';
  position: absolute;
  top: 2px;
  left: -25px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 7px 0 7px 14px;
  border-color: transparent transparent transparent #C8AF79;
}

.news__item-date {
  margin-right: 20px;
  position: relative;
}

.news__item-date span:first-child {
  font-size: 26px;
  color: #000;
  margin-right: 30px;
}

.news__item-date span:last-child {
  font-size: 20px;
  color: #C8AF79;
  position: relative;
}

.news__item-date span:last-child:before {
  content: '/';
  color: inherit;
  position: absolute;
  left: -17px;
  font-size: 29px;
}

.news__item-date:before {
  content: '';
  position: absolute;
  width: 70%;
  height: 4px;
  background-color: #C8AF79;
  bottom: -10px;
}

.news__item-person {
  color: #9A9A9A;
}

.news__item-person span:first-child {
  margin-right: 20px;
}

.news__item-caption {
  font-weight: bold;
}

.news__item.is-big {
  width: 66.6666%;
}

.news__item.is-big .news__item-inner {
  background-color: #C8AF79;
  color: #F6F6F4;
}

.news__item.is-big .news-item-date span:first-child {
  font-size: 26px;
  color: #000;
  margin-right: 30px;
}

.news__item.is-big .news-item-date span:last-child {
  font-size: 20px;
  color: #fff;
  position: relative;
}

.news__item.is-big .news-item-date:before {
  background-color: #F6F6F4;
}

.news__item.is-big .news-item-person {
  color: #fff;
}

.news__item.is-big .news-item-category {
  color: #866E4C;
}

.news__item.is-big .news-item-category:before {
  content: '';
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 7px 0 7px 14px;
  border-color: transparent transparent transparent #866E4C;
}

.seminars__inner {
  width: 90%;
  margin: 0 auto;
  padding: 40px;
  border: 10px solid #EEE9E3;
}

.seminars__inner-caption {
  font-family: "Lora", serif;
  font-size: 197%;
}

.seminars__row {
  position: relative;
  margin-left: -2.5%;
}

.seminars__row:after {
  content: '';
  display: block;
  clear: left;
}

.seminars__row .seminars__item {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 47.5%;
  margin-left: 2.5%;
}

.seminars__right-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.seminars__right-form input {
  display: block;
  background-color: #F4F4F4;
  border: 1px solid #F4F4F4;
  height: 38px;
  padding-left: 10px;
  margin-bottom: 5px;
}

.seminars__right-form input:focus {
  border: 1px solid #F4F4F4;
}

.seminars__right-form textarea {
  background-color: #F4F4F4;
  border: 1px solid #F4F4F4;
  padding-left: 10px;
}

.layout {
  margin-left: auto;
  margin-right: auto;
}

.layout__columns {
  position: relative;
  margin-left: -2.5%;
}

.layout__columns:after {
  content: '';
  display: block;
  clear: left;
}

.layout__small-col {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 22.5%;
  margin-left: 2.5%;
}

@media screen and (max-width: 1023px) {
  .layout__small-col {
    width: 30.83333%;
    margin-left: 2.5%;
  }
}

@media screen and (max-width: 767px) {
  .layout__small-col {
    width: 97.5%;
    margin-left: 2.5%;
  }
}

@media screen and (max-width: 767px) {
  .layout__small-col {
    margin-bottom: 30px;
  }
  .layout__small-col:last-child {
    margin-bottom: 0;
  }
}

.layout__small-col-plus {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 30.83333%;
  margin-left: 2.5%;
}

@media screen and (max-width: 767px) {
  .layout__small-col-plus {
    width: 97.5%;
    margin-left: 2.5%;
  }
}

.layout__medium-col {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 47.5%;
  margin-left: 2.5%;
}

@media screen and (max-width: 479px) {
  .layout__medium-col {
    width: 97.5%;
    margin-left: 2.5%;
  }
}

.layout__medium-col-plus {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 64.16666%;
  margin-left: 2.5%;
}

@media screen and (max-width: 767px) {
  .layout__medium-col-plus {
    width: 97.5%;
    margin-left: 2.5%;
  }
}

.layout__large-col {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 97.5%;
  margin-left: 2.5%;
}

.layout__small-col + .layout__large-col {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 72.5%;
  margin-left: 2.5%;
}

@media screen and (max-width: 1023px) {
  .layout__small-col + .layout__large-col {
    width: 64.16666%;
    margin-left: 2.5%;
  }
}

@media screen and (max-width: 767px) {
  .layout__small-col + .layout__large-col {
    width: 97.5%;
    margin-left: 2.5%;
  }
}

.layout__full-col {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 97.5%;
  margin-left: 2.5%;
}

.layout__aside-item {
  margin-top: 30px;
  margin-bottom: 30px;
}

.layout__aside-item:first-child {
  margin-top: 0;
}

.layout__aside-item:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .layout__aside-item {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .layout__aside-item:first-child {
    margin-top: 0;
  }
  .layout__aside-item:last-child {
    margin-bottom: 0;
  }
}

.layout__footer {
  margin-top: 40px;
}

.layout__footer:first-child {
  margin-top: 0;
}

.layout__header {
  margin-bottom: 20px;
}

.layout__header:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .layout__header {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1210px) {
  .layout__header, .layout__footer {
    min-width: 980px;
  }
}

@media screen and (max-width: 767px) {
  .layout__header, .layout__footer {
    min-width: auto;
  }
}

.layout__block {
  margin-top: 40px;
  margin-bottom: 40px;
}

.layout__block:first-child {
  margin-top: 0;
}

.layout__block:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .layout__block {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .layout__block:first-child {
    margin-top: 0;
  }
  .layout__block:last-child {
    margin-bottom: 0;
  }
}

.layout__page-header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.layout__page-header:first-child {
  margin-top: 0;
}

.layout__page-header:last-child {
  margin-bottom: 0;
}

.layout__page-header h1 {
  margin-top: 0;
}

.layout__placeholder {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  text-align: center;
  background: red;
  color: white;
}

.layout__placeholder:first-child {
  margin-top: 0;
}

.layout__placeholder:last-child {
  margin-bottom: 0;
}

.layout__aside-item .h2, .layout__aside-item h2, .layout__aside-item .h3, .layout__aside-item h3, .layout__aside-item .h4, .layout__aside-item h4, .layout__aside-item .h5, .layout__aside-item h5 {
  font-weight: normal;
  line-height: 1.42857;
}

.layout__mobile-overflow {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .layout__mobile-overflow {
    margin-left: -10px;
    margin-right: -10px;
  }
  .fancybox-inner .layout__mobile-overflow {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .layout__content-table {
    overflow-x: scroll;
  }
}
