@media print {
  .layout__header,
  .layout__footer,
  .breadcrumbs,
  .layout__aside-item,
  .button {
    display: none;
  }
  #bx-panel-back {
    display: none !important;
  }
  #bx-panel.bx-panel-fixed {
    display: none !important;
    position: static !important;
  }
}
