/**colors**/
/***/
.block-holder {
  margin-top: 70px;
  margin-bottom: 70px;
}

.block-holder:first-child {
  margin-top: 0;
}

.block-holder:last-child {
  margin-bottom: 0;
}

.block-holder .ui-slider .ui-slider-handle {
  border: 1px solid black;
  background-color: #fff;
  cursor: pointer;
}

.block-holder .ui-slider {
  z-index: 2;
  border: 1px solid black;
}

.block-holder .ui-slider-handle .handle-val {
  color: black;
  position: absolute;
  bottom: 100%;
  width: 70px;
  left: 50%;
  margin-left: -35px;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.block-holder__scale {
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
  max-width: 500px;
  margin-left: 100px;
}

.block-holder__scale-input {
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -15px;
  margin-right: 25px;
}

.block-holder__scale-input[type="text"] {
  width: 75px;
}

.block-holder__caption {
  margin-bottom: 15px;
  font-size: 18px;
}
