mixin header()
	header.header.bem.is-hide-mobile
		.content-center
			.header-left.col-3
				.header-left_language
					a.header-left-language_link(href="#") Eng
				.header-left_cabinet
					a.header-left-cabinet_link(href="#") Личный кабинет
				.header-left_entry
					button.header-left-entry_link(href="#") Войти
			.header-logo.col-3
				.header-logo-block
					a.header-logo-block-link
						img.header-logo-block-link_img(src="img/logo.png")
				.header-logo-text
					.header-logo-text_inscription Юридические услуги
					.header-logo-text_inscription с 1990 года
			.header-right.col-3
				.header-right-write
					a.header-right-write_link(href="#") Написать нам
				.header-right-phone
					a.header-right-phone_link(href="#") 8 (495) 956-29-92
				.header-right-button
					button.header-right-phone_link(href="#") Заказать звонок
.content-center
	+menu-top_example



