.header {
  border-bottom: 1px solid #1E554F;
  background-color: $color-green;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  &__inner{
	display: flex;
  }


  &__left{
	text-align: right;
	width: 20%;
  }
  &__language{
	margin-bottom: 10px;
	&-link{
	  font-size: 13px;
	}
  }
  &__cabinet{
	margin-bottom: 16px;
	&-link{
	  text-decoration: none;
	  border-bottom: 1px dashed #fff;
	  font-size: 21px;
	  font-family:$lora;
	}
  }
  &__logo{
	text-align: center;
	width: 60%;
	  &-block{
		a{
		  display: block;
		}
	}
	&-text{
	  color: $color-golddark;
	}
  }
  &__right{
  		text-align: left;
	width: 20%;
	}
  &__phone{
	margin-bottom: 12px;
	font-size: 24px;
	font-family:$lora;
	a{
	  text-decoration: none;
	}
  }
  &__write{
	margin-bottom: 10px;
	a{
	  font-size: 13px;
	}
  }
  a{
	color: #fff;
  }
  button{
	color: #fff;
	border: 2px solid #fff;
	background-color: $color-green;
	&:hover{
	background-color: $color-yellow;
	  color: $color-green;
	  border: 2px solid $color-yellow;

	}
  }

}

