.seminars{
  &__inner{
	width: 90%;
	margin:0 auto;
	padding: 40px;
	border: 10px solid #EEE9E3;
	&-caption{
	  font-family:$lora;
	  font-size: 197%;
	}
  }
  &__row{
	@include columnizerParent;
	.seminars__item{
	  @include columnizer(6);
	}
  }
  &__left{

  }
  &__right{
	&-text{
	  font-size: 16px;
	  margin-bottom: 10px;
	}
	&-form{
	  input{
		display: block;
		background-color: #F4F4F4;
		border: 1px solid #F4F4F4;
		height: 38px;
		padding-left: 10px;
		margin-bottom: 5px;
		&:focus{
		  border: 1px solid #F4F4F4;
		}
	  }
	  textarea{
		background-color: #F4F4F4;
		border: 1px solid #F4F4F4;
		padding-left: 10px;
	  }
	}
  }
}
