.header-mobile {
	padding-top: $mobile-header-height;
	&__line {
		height: $mobile-header-height;
		left: 0;
		top: 0;
		right: 0;
		position: absolute;
		background: $color-bg-dark-header;
		z-index: 100;
		.header-mobile.is-menu-opened & {
			position: fixed;
		}
	}
	&__left {
		float: left;
	}
	&__right {
		float: right;
	}
	&__call, &__search, &__cart, &__menu {
		display: inline-block;
		width: $mobile-header-height;
		height: $mobile-header-height;
		vertical-align: middle;
	}
	&__call-link,
	&__search-button,
	&__cart-button,
	&__menu-button {
		display: block;
		width: $mobile-header-height;
		height: $mobile-header-height;
		@include box-sizing;
		text-align: center;
		text-decoration: none;
		position: relative;
		&.is-active {
			background: white;
		}
	}
	&__cart-button {
		text-indent: -6px;
	}
	&__cart-counter {
		width: 15px;
		height: 15px;
		position: absolute;
		color: white;
		background: $color-accent-text;
		text-align: center;
		font-size: 10px;
		border-radius: 50%;
		right: 6px;
		top: 5px;
		@include box-sizing;
		padding-top: 1px;
		text-indent: -1px;
	}
	&__cart-empty {
		font-size: 150%;
		color: #999;
		text-align: center;
	}
	&__catalog {
		display: inline-block;
		height: $mobile-header-height;
		vertical-align: middle;
	}
	&__catalog-button {
		display: inline-block;
		height: $mobile-header-height;
		padding-left: $mobile-outer-margin;
		padding-right: $mobile-outer-margin;
		font-size: 100%;
		text-transform: uppercase;
		line-height: $mobile-header-height;
		color: white;
		text-decoration: none;
		color: white;
		&:hover {
			color: white;
		}
		&:after {
			@include fa-icon($fa-var-angle-down, true);
			font-size: 16px;
			margin-left: 8px;
			//@extend .icon-mobile-catalog;
		}
		&.is-active {
			background: white;
			color: black;
			&:after {
				//@extend .icon-mobile-catalog_active;
			}
		}
	}

	&__call-icon,
	&__search-icon,
	&__cart-icon,
	&__menu-icon {
		color: white;
		font-size: 150%;
		line-height: $mobile-header-height;
		.is-active > & {
			color: $color-accent-text;
		}
	}

	&__call-icon {
		@include fa-icon-is($fa-var-phone);
	}
	&__search-icon {
		@include fa-icon-is($fa-var-search);
	}
	&__cart-icon {
		@include fa-icon-is($fa-var-shopping-cart);
	}
	&__menu-icon {
		@include fa-icon-is($fa-var-navicon);
	}

	&__catalog-holder,
	&__call-holder,
	&__search-holder,
	&__cart-holder,
	&__menu-holder {
		background: white;
		position: fixed;
		left: 0;
		top: $mobile-header-height;
		right: 0;
		z-index: 100;
		display: none;
		@include box-sizing;
		padding: 26px $mobile-outer-margin;
		overflow-y: scroll;
		&.is-active {
			display: block;
		}
		&.is-fullscreen {
			bottom: 0;
		}
	}
	&__menu-holder {
		a {
			color: $color-text;
		}
	}

	&__catalog-holder {
		bottom: 0;
		padding: 0;
	}
	&__menu-holder {
		bottom: 0;
	}
	&__call-holder {
		text-align: center;
	}
	&__plate-item {
		@include margin;
	}
	&__plate-section {
		@include thin-border-bottom();

		@include mobile-overflow(false);
		padding: $mobile-outer-margin;

		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}
	}
	&__plate-horlink {
		display: inline-block;
		margin-left: 20px;
		vertical-align: middle;
		&:first-child {
			margin-left: 0;
		}
	}
	&__phone {
		@extend .button-big;
		font-size: 140%;
		width: 100%;
		//padding-top: 9px;
	}
	&__callback {
		@extend .pseudo-link;
		color: $color-link;
	}
	&__logo {
		background: white;
		padding: $mobile-outer-margin;
	}
	&__logo-img {
		display: block;
	}
	&__exit {
		margin-left: 20px;
		@include fa-icon-is($fa-var-sign-out);
		&:before {
			margin-right: 5px;
		}
	}
}