mixin header-mobile()
	header.header-mobile.bem.is-hide-desktop&attributes(attributes)
		.header-mobile__line
			.header-mobile__left
				.header-mobile__catalog
				a.header-mobile__catalog-button(href="#mobile-catalog", data-action="mobile-menu") Каталог
				.header-mobile__catalog-holder#mobile-catalog
					+menu-aside.is-mobile

			.header-mobile__right
				.header-mobile__call
					a.header-mobile__call-link(href="#mobile-call", data-action="mobile-menu")
						span.header-mobile__call-icon
					.header-mobile__call-holder#mobile-call
						.header-mobile__plate-item
							a.header-mobile__phone(href="tel:+7 800 30 00 600") +7 800 30 00 600
						.header-mobile__plate-item
							a.header-mobile__callback.js-modal(href="#request-call") Заказать звонок

				.header-mobile__search
					a.header-mobile__search-button(href="#mobile-search", data-action="mobile-menu")
						span.header-mobile__search-icon
					.header-mobile__search-holder#mobile-search
						+search-title.is-not-interactive

				.header-mobile__cart
					a.header-mobile__cart-button(href="#mobile-cart", data-action="mobile-menu")
						span.header-mobile__cart-icon
						span.header-mobile__cart-counter 2

					.header-mobile__cart-holder#mobile-cart
						+cart-line_mobile

				.header-mobile__menu
					a.header-mobile__menu-button(href="#mobile-menu", data-action="mobile-menu")
						span.header-mobile__menu-icon
					.header-mobile__menu-holder#mobile-menu
						.header-mobile__plate-section
							+auth-link_user.is-inverted
							a.header-mobile__exit(href="#") Выйти

						.header-mobile__plate-section
							+menu-tree_simple

						.header-mobile__plate-section
							.header-mobile__plate-horlink
								+favorites-title_simple
							
							.header-mobile__plate-horlink
								a.js-modal.pseudo-link(href="#feedback") Написать нам

		.header-mobile__logo
			a.header-mobile__logo-link(href="/", title="Вернуться на главную страницу")
				img.header-mobile__logo-img(src="//placehold.it/400x100?text=Logotype", width="200", height="50", data-no-retina)