doctype html
html(lang='ru')
	head
		// Meta
		meta(charset='utf-8')
		meta#viewport(name='viewport', content='width=device-width, initial-scale=1, minimal-ui')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='imagetoolbar', content='no')
		meta(name='msthemecompatible', content='no')
		meta(name='cleartype', content='on')
		meta(name='HandheldFriendly', content='True')
		meta(name='format-detection', content='telephone=no')
		meta(name='format-detection', content='address=no')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
		title Список страниц
		// Styles
		// Vendor styles
		link(href='./js/vendor/fancybox/jquery.fancybox.css', rel='stylesheet')
		link(href='./js/vendor/jquery-ui/jquery-ui.css', rel='stylesheet')
		link(href='./js/vendor/jquery.bxslider/jquery.bxslider.css', rel='stylesheet')
		link(href='./js/vendor/jquery.mobilezoom/jquery.mobilezoom.css', rel='stylesheet')
		link(href='./js/vendor/select2/select2.css', rel='stylesheet')
		link(href='./js/vendor/slick/slick.css', rel='stylesheet')
		link(href='./js/vendor/video.js/video-js.css', rel='stylesheet')
		// Global styles
		link(href='./css/optimize.css', rel='stylesheet')
		link(href='./css/fonts.css?1491572924231', rel='stylesheet')
		link(href='./css/fontawesome.css?1491572924231', rel='stylesheet')
		link(href='./css/global.css?1491572924231', rel='stylesheet')
		link(href='./css/adaptive.css?1491572924231', rel='stylesheet')
		link(rel='stylesheet', href='css/tech.css')
		link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Lora:400,700', rel='stylesheet')
		// Scripts
		// Vendor scripts
		script(src='./js/vendor/fontsmoothie/fontsmoothie.js')
		script(src='./js/vendor/jquery/jquery.min.js')
		script(src='./js/vendor/mustache/mustache.min.js')
		script(src='./js/vendor/retina/retina.js')
		script(src='./js/vendor/simpleStorage/simpleStorage.js')
		script(src='./js/vendor/fancybox/jquery.fancybox.pack.js')
		script(src='./js/vendor/freewall/freewall.js')
		script(src='./js/vendor/jquery-ui/jquery-ui.js')
		script(src='./js/vendor/jquery.adaptBlock/jquery.adaptBlock.js')
		script(src='./js/vendor/jquery.bxslider/jquery.bxslider.min.js')
		script(src='./js/vendor/jquery.form/jquery.form.min.js')
		script(src='./js/vendor/jquery.icheck/icheck.min.js')
		script(src='./js/vendor/jquery.livequery/jquery.livequery.js')
		script(src='./js/vendor/jquery.maskedinput/jquery.maskedinput.js')
		script(src='./js/vendor/jquery.mobilezoom/jquery.mobilezoom.js')
		script(src='./js/vendor/jquery.mousewheel/jquery.mousewheel.pack.js')
		script(src='./js/vendor/jquery.placeholder/jquery.placeholder.js')
		script(src='./js/vendor/jquery.ui.touch-punch/jquery.ui.touch-punch.min.js')
		script(src='./js/vendor/jquery.validate/jquery.validate.min.js')
		script(src='./js/vendor/modernizr/modernizr.custom.69422.js')
		script(src='./js/vendor/select2/select2.min.js')
		script(src='./js/vendor/slick/slick.js')
		script(src='./js/vendor/uri/uri.min.js')
		script(src='./js/vendor/video.js/video.js')
		script(src='./js/vendor/accounting/accounting.min.js')
		script(src='./js/vendor/factory/factory.forms.js')
		script(src='./js/vendor/factory/factory.global.js')
		script(src='./js/vendor/jjsor/jssor.slider-23.1.0.mini.js')
		// Global scripts
		script(src='./js/blocks.js?1491572924231')
		script(src='./js/blocks.dummy.js?1491572924231')
		script(src='./js/global.js?1491572924231')
		script(src='./js/script.js?1491572924231')
		script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU', type='text/javascript')
		script(src='js/tech.js?1491572924231', type='text/javascript')
		// html5shiv, respond.js
		//
		//if lte IE 8 // script(type='text/javascript', src='./js/vendor/html5shiv/html5shiv.min.js') script(type='text/javascript', src='./js/vendor/respond/respond.min.js')
	body
		header.header.bem.is-hide-mobile
			.content-center
				.header__inner
					.header__left.header-item
						.header__language
							a.header__language-link(href='#') Eng
						.header__cabinet
							a.header__cabinet-link(href='#') Личный кабинет
						.header__entry
							button.header__entry-link(href='#') Войти
					.header__logo.header-item
						.header__logo-block
							a.header__logo-link(href='#')
								img.header__logo-img(src='img/logo.png', alt='Логотип компании')
						.header__logo-text
							| с 1990 года
					.header__right.header-item
						.header__write
							a.header__write-link(href='#') Написать нам
						.header__phone
							a.header__phone-link(href='#') 8 (495) 956-29-92
						.header__button
							button.header__phone-btn(href='#') Заказать звонок
		.menu-top.bem
			.content-center
				.menu-top__plate
					ul.menu-top__first-level
						li.menu-top__first-item.is-contain
							a.menu-top__first-link(href='#') О компании
							.menu-top__second-holder
								ul.menu-top__second-level
									li.menu-top__second-item.is-contain
										a.menu-top__second-link(href='#') История компании
										.menu-top__third-holder
											ul.menu-top__third-level
												li.menu-top__third-item
													a.menu-top__third-link(href='#') Подраздел с длинным текстом, который должен занять несколько строк
												li.menu-top__third-item.is-contain
													a.menu-top__third-link(href='#') Моноподы для селфи
									li.menu-top__second-item
										a.menu-top__second-link(href='#') Реквизиты
									li.menu-top__second-item
										a.menu-top__second-link(href='#') Команда
									li.menu-top__second-item
										a.menu-top__second-link(href='#') Фотогалерея
									li.menu-top__second-item
										a.menu-top__second-link(href='#') Видеогалерея
									li.menu-top__second-item
										a.menu-top__second-link(href='#') Новости
									li.menu-top__second-item
										a.menu-top__second-link(href='#') Вакансии
									li.menu-top__second-item
										a.menu-top__second-link(href='#') Клиенты
									li.menu-top__second-item
										a.menu-top__second-link(href='#') Сертификаты
									li.menu-top__second-item
										a.menu-top__second-link(href='#') Партнеры
									li.menu-top__second-item
										a.menu-top__second-link(href='#') Производство
									li.menu-top__second-item
										a.menu-top__second-link(href='#') Награды
									li.menu-top__second-item
										a.menu-top__second-link(href='#') Дилерам
									li.menu-top__second-item
										a.menu-top__second-link(href='#') Оптовикам
						li.menu-top__first-item.is-contain
							a.menu-top__first-link(href='#') Команда
							.menu-top__second-holder
								ul.menu-top__second-level
									li.menu-top__second-item.is-contain
										a.menu-top__second-link(href='#') Аксессуары для смартфонов
										.menu-top__third-holder
											ul.menu-top__third-level
												li.menu-top__third-item
													a.menu-top__third-link(href='#') Моноподы для селфи
												li.menu-top__third-item
													a.menu-top__third-link(href='#') Перчатки для сенсорных экранов
												li.menu-top__third-item
													a.menu-top__third-link(href='#') Пульты для селфи
												li.menu-top__third-item
													a.menu-top__third-link(href='#') Светящиеся наушники
									li.menu-top__second-item
										a.menu-top__second-link(href='#') Оригинальные подарки
									li.menu-top__second-item.is-contain
										a.menu-top__second-link(href='#') Товары для детей
										.menu-top__third-holder
											ul.menu-top__third-level(data-max-items='5')
												li.menu-top__third-item
													a.menu-top__third-link(href='#') Бинарные часы
												li.menu-top__third-item
													a.menu-top__third-link(href='#') Волшебные червячки
												li.menu-top__third-item
													a.menu-top__third-link(href='#') Детские машинки
												li.menu-top__third-item
													a.menu-top__third-link(href='#') Игрушки Говорящий Хомяк
												li.menu-top__third-item
													a.menu-top__third-link(href='#') Летающие игрушки
												li.menu-top__third-item
													a.menu-top__third-link(href='#') Музыкальные инструменты
												li.menu-top__third-item
													a.menu-top__third-link(href='#') Настольные игры
												li.menu-top__third-item
													a.menu-top__third-link(href='#') Нелопающиеся мыльные пузыри
												li.menu-top__third-item
													a.menu-top__third-link(href='#') Неокубы
												li.menu-top__third-item
													a.menu-top__third-link(href='#') Резинки для плетения браслетов
												li.menu-top__third-item
													a.menu-top__third-link(href='#') Танцевальные коврики
												li.menu-top__third-item
													a.menu-top__third-link(href='#')
														nobr Шары-предсказатели
									li.menu-top__second-item
										a.menu-top__second-link(href='#') Товары для дома
									li.menu-top__second-item.is-contain
										a.menu-top__second-link(href='#') Товары для женщин
										.menu-top__third-holder
											ul.menu-top__third-level
												li.menu-top__third-item
													a.menu-top__third-link(href='#') Моноподы для селфи
												li.menu-top__third-item
													a.menu-top__third-link(href='#') Перчатки для сенсорных экранов
												li.menu-top__third-item
													a.menu-top__third-link(href='#') Пульты для селфи
												li.menu-top__third-item
													a.menu-top__third-link(href='#') Светящиеся наушники
									li.menu-top__second-item
										a.menu-top__second-link(href='#') Товары для красоты и здоровья
									li.menu-top__second-item
										a.menu-top__second-link(href='#') Товары для кухни
						li.menu-top__first-item
							a.menu-top__first-link(href='#') Инфоцентр
						li.menu-top__first-item
							a.menu-top__first-link(href='#') Правовое сопровождение и защита бизнеса
						li.menu-top__first-item
							a.menu-top__first-link(href='#') Представление интересов у физических лиц
						li.menu-top__first-item
							a.menu-top__first-link(href='#') Мероприятия
						li.menu-top__first-item.is-additional
							a.menu-top__first-link(href='#') Контакты
							.menu-top__additional-holder
								ul.menu-top__additional-level
									li.menu-top__additional-item
										a.menu-top__additional-link(href='#') Статьи
									li.menu-top__additional-item
										a.menu-top__additional-link(href='#') Раздел первого уровня
									li.menu-top__additional-item
										a.menu-top__additional-link(href='#') Ещё один
									li.menu-top__additional-item
		header.header-mobile.bem.is-hide-desktop
			.header-mobile__line
				.header-mobile__left
					.header-mobile__catalog
					a.header-mobile__catalog-button(href='#mobile-catalog', data-action='mobile-menu') Каталог
					#mobile-catalog.header-mobile__catalog-holder
						.menu-aside.no-js.bem.is-mobile
							.menu-aside__common-header
								a.menu-aside__common-link(href='#')
									span Каталог продукции
							.menu-aside__first-holder
								ul.menu-aside__first-level
									li.menu-aside__first-item.is-contain
										a.menu-aside__first-link(href='#')
											img.menu-aside__custom-icon(src='https://api.monosnap.com/rpc/file/download?id=9cCYxNlwcR6N5wWn2wEorOCGkK8utZ', width='31/')
											span Для отдыха
										.menu-aside__second-holder.is-active
											ul.menu-aside__second-level
												li.menu-aside__second-item.is-contain
													a.menu-aside__second-link(href='#') История компании
													.menu-aside__third-holder
														ul.menu-aside__third-level
															li.menu-aside__third-item
																a.menu-aside__third-link(href='#') Подраздел с длинным текстом, который должен занять несколько строк
															li.menu-aside__third-item
																a.menu-aside__third-link(href='#') Моноподы для селфи
												li.menu-aside__second-item
													a.menu-aside__second-link(href='#') Реквизиты
												li.menu-aside__second-item
													a.menu-aside__second-link(href='#') Команда
												li.menu-aside__second-item
													a.menu-aside__second-link(href='#') Фотогалерея
												li.menu-aside__second-item
													a.menu-aside__second-link(href='#') Видеогалерея
												li.menu-aside__second-item
													a.menu-aside__second-link(href='#') Новости
												li.menu-aside__second-item
													a.menu-aside__second-link(href='#') Вакансии
												li.menu-aside__second-item
													a.menu-aside__second-link(href='#') Клиенты
												li.menu-aside__second-item
													a.menu-aside__second-link(href='#') Сертификаты
												li.menu-aside__second-item
													a.menu-aside__second-link(href='#') Партнеры
												li.menu-aside__second-item
													a.menu-aside__second-link(href='#') Производство
												li.menu-aside__second-item
													a.menu-aside__second-link(href='#') Награды
												li.menu-aside__second-item
													a.menu-aside__second-link(href='#') Дилерам
												li.menu-aside__second-item
													a.menu-aside__second-link(href='#') Оптовикам
									li.menu-aside__first-item.is-contain
										a.menu-aside__first-link(href='#')
											img.menu-aside__custom-icon(src='https://api.monosnap.com/rpc/file/download?id=9cCYxNlwcR6N5wWn2wEorOCGkK8utZ', width='31/')
											span Оригинальные подарки
										.menu-aside__second-holder
											ul.menu-aside__second-level
												li.menu-aside__second-item.is-contain
													a.menu-aside__second-link(href='#') Аксессуары для смартфонов
													.menu-aside__third-holder
														ul.menu-aside__third-level
															li.menu-aside__third-item
																a.menu-aside__third-link(href='#') Моноподы для селфи
															li.menu-aside__third-item
																a.menu-aside__third-link(href='#') Перчатки для сенсорных экранов
															li.menu-aside__third-item
																a.menu-aside__third-link(href='#') Пульты для селфи
															li.menu-aside__third-item
																a.menu-aside__third-link(href='#') Светящиеся наушники
												li.menu-aside__second-item
													a.menu-aside__second-link(href='#') Оригинальные подарки
												li.menu-aside__second-item.is-contain
													a.menu-aside__second-link(href='#') Товары для детей
													.menu-aside__third-holder
														ul.menu-aside__third-level(data-max-items='5')
															li.menu-aside__third-item
																a.menu-aside__third-link(href='#') Бинарные часы
															li.menu-aside__third-item
																a.menu-aside__third-link(href='#') Волшебные червячки
															li.menu-aside__third-item
																a.menu-aside__third-link(href='#') Детские машинки
															li.menu-aside__third-item
																a.menu-aside__third-link(href='#') Игрушки Говорящий Хомяк
															li.menu-aside__third-item
																a.menu-aside__third-link(href='#') Летающие игрушки
															li.menu-aside__third-item
																a.menu-aside__third-link(href='#') Музыкальные инструменты
															li.menu-aside__third-item
																a.menu-aside__third-link(href='#') Настольные игры
															li.menu-aside__third-item
																a.menu-aside__third-link(href='#') Нелопающиеся мыльные пузыри
															li.menu-aside__third-item
																a.menu-aside__third-link(href='#') Неокубы
															li.menu-aside__third-item
																a.menu-aside__third-link(href='#') Резинки для плетения браслетов
															li.menu-aside__third-item
																a.menu-aside__third-link(href='#') Танцевальные коврики
															li.menu-aside__third-item
																a.menu-aside__third-link(href='#')
																	nobr Шары-предсказатели
												li.menu-aside__second-item
													a.menu-aside__second-link(href='#') Товары для дома
												li.menu-aside__second-item.is-contain
													a.menu-aside__second-link(href='#') Товары для женщин
													.menu-aside__third-holder
														ul.menu-aside__third-level
															li.menu-aside__third-item
																a.menu-aside__third-link(href='#') Моноподы для селфи
															li.menu-aside__third-item
																a.menu-aside__third-link(href='#') Перчатки для сенсорных экранов
															li.menu-aside__third-item
																a.menu-aside__third-link(href='#') Пульты для селфи
															li.menu-aside__third-item
																a.menu-aside__third-link(href='#') Светящиеся наушники
												li.menu-aside__second-item
													a.menu-aside__second-link(href='#') Товары для красоты и здоровья
												li.menu-aside__second-item
													a.menu-aside__second-link(href='#') Товары для кухни
									li.menu-aside__first-item
										a.menu-aside__first-link(href='#')
											img.menu-aside__custom-icon(src='https://api.monosnap.com/rpc/file/download?id=9cCYxNlwcR6N5wWn2wEorOCGkK8utZ', width='31/')
											span Фотоаппараты
									li.menu-aside__first-item
										a.menu-aside__first-link(href='#')
											img.menu-aside__custom-icon(src='https://api.monosnap.com/rpc/file/download?id=9cCYxNlwcR6N5wWn2wEorOCGkK8utZ', width='31/')
											span Для дачи
									li.menu-aside__first-item
										a.menu-aside__first-link(href='#')
											img.menu-aside__custom-icon(src='https://api.monosnap.com/rpc/file/download?id=9cCYxNlwcR6N5wWn2wEorOCGkK8utZ', width='31/')
											span Сертификаты
									li.menu-aside__first-item
										a.menu-aside__first-link(href='#')
											img.menu-aside__custom-icon(src='https://api.monosnap.com/rpc/file/download?id=9cCYxNlwcR6N5wWn2wEorOCGkK8utZ', width='31/')
											span Для кухни
									li.menu-aside__first-item
										a.menu-aside__first-link(href='#')
											img.menu-aside__custom-icon(src='https://api.monosnap.com/rpc/file/download?id=9cCYxNlwcR6N5wWn2wEorOCGkK8utZ', width='31/')
											span Для автомобиля
									li.menu-aside__first-item
										a.menu-aside__first-link(href='#')
											img.menu-aside__custom-icon(src='https://api.monosnap.com/rpc/file/download?id=9cCYxNlwcR6N5wWn2wEorOCGkK8utZ', width='31/')
											span Для школы
									li.menu-aside__first-item.is-additional
										a.menu-aside__first-link.js-show-more(href='#')
											img.menu-aside__custom-icon(src='https://api.monosnap.com/rpc/file/download?id=9cCYxNlwcR6N5wWn2wEorOCGkK8utZ', width='31/')
											span Еще
										.menu-aside__additional-holder
											ul.menu-aside__additional-level
												li.menu-aside__additional-item
													a.menu-aside__additional-link(href='#') Для кухни
												li.menu-aside__additional-item
													a.menu-aside__additional-link(href='#') Для автомобиля
												li.menu-aside__additional-item
													a.menu-aside__additional-link(href='#') Для школы
												li.menu-aside__additional-item
													a.menu-aside__additional-link(href='#') Для сердца
				.header-mobile__right
					.header-mobile__call
						a.header-mobile__call-link(href='#mobile-call', data-action='mobile-menu')
							span.header-mobile__call-icon
						#mobile-call.header-mobile__call-holder
							.header-mobile__plate-item
								a.header-mobile__phone(href='tel:+7 800 30 00 600') +7 800 30 00 600
							.header-mobile__plate-item
								a.header-mobile__callback.js-modal(href='#request-call') Заказать звонок
					.header-mobile__search
						a.header-mobile__search-button(href='#mobile-search', data-action='mobile-menu')
							span.header-mobile__search-icon
						#mobile-search.header-mobile__search-holder
							.search-title.bem.is-not-interactive
								.search-title__title-holder
									form#header-search-form.search-title__form
										.search-title__field
											a.search-title__submit(href='#') Поиск
											input.search-title__input(type='text', name='q', autocomplete='off', placeholder='Поиск по сайту')
											input(name='s', type='hidden', value='')
									.search-title__results-holder
										ul.search-title__result-items
											li.search-title__result-item
												.search-title__img-holder
													a.search-title__img-link(href='#')
														img.search-title__img(src='http://placehold.it/70x70', alt='Фото', width='70')
												.search-title__name-holder
													a.search-title__name(href='#') Название товара номер 1
												.search-title__price-holder
													span.search-title__price
														| 800
														span.rub руб
											li.search-title__result-item
												.search-title__img-holder
													a.search-title__img-link(href='#')
														img.search-title__img(src='http://placehold.it/70x70', alt='Фото', width='70')
												.search-title__name-holder
													a.search-title__name(href='#')
														| Название
														span.search-title__match товара номер
														|  2
												.search-title__price-holder
													span.search-title__price
														| 1 200
														span.rub руб
											li.search-title__result-item
												.search-title__img-holder
													a.search-title__img-link(href='#')
														img.search-title__img(src='http://placehold.it/70x70', alt='Фото', width='70')
												.search-title__name-holder
													a.search-title__name(href='#') Товар с длинным именем общего назначения
												.search-title__price-holder
													span.search-title__price
														| 13 459
														span.rub руб
										.search-title__more-holder
											a.search-title__more(href='#') Все результаты →
					.header-mobile__cart
						a.header-mobile__cart-button(href='#mobile-cart', data-action='mobile-menu')
							span.header-mobile__cart-icon
							span.header-mobile__cart-counter 2
						#mobile-cart.header-mobile__cart-holder
							.cart-line.bem.is-mobile
								.cart-line__detail-btns
									a.cart-line__cart-btn.button(href='#') Перейти в корзину
								.cart-line__detail
									.cart-line__detail-row
										.cart-line__detail-photo
											a.cart-line__img-link(href='#')
												img.cart-line__img(src='http://placehold.it/110x82?text=Фото', width='110')
										.cart-line__detail-name
											a.cart-line__name-link(href='#') Подушка ПБ-11
										.cart-line__detail-amount
											.cart-line__amount-number 7
										.cart-line__detail-price
											.cart-line__price-number
												span.cart-line__price-numeral 2 195
												|  руб.
										.cart-line__detail-close
											a.cart-line__close-btn(href='#')
									.cart-line__detail-row
										.cart-line__detail-photo
											a.cart-line__img-link(href='#')
												img.cart-line__img(src='http://placehold.it/110x82?text=Фото', width='110')
										.cart-line__detail-name
											a.cart-line__name-link(href='#') Подушка ПБ-11
										.cart-line__detail-amount
											.cart-line__amount-number 7
										.cart-line__detail-price
											.cart-line__price-number
												span.cart-line__price-numeral 2 195
												|  руб.
										.cart-line__detail-close
											a.cart-line__close-btn(href='#')
								.cart-line__detail-result
									.cart-line__detail-total
										span.cart-line__total-amount 2
										|  товара на сумму
										span.cart-line__total-price 5 995
										|  руб.
									.cart-line__detail-btns
										a.cart-line__checkout-btn.button-primary(href='#') Оформить заказ
					.header-mobile__menu
						a.header-mobile__menu-button(href='#mobile-menu', data-action='mobile-menu')
							span.header-mobile__menu-icon
						#mobile-menu.header-mobile__menu-holder
							.header-mobile__plate-section
								.auth-link.bem.is-inverted
									ul.auth-link__items
										li.auth-link__item
											a.auth-link__user-link(href='#')
												span.auth-link__user-name Евлампий Аполлонович
								a.header-mobile__exit(href='#') Выйти
							.header-mobile__plate-section
								.menu-tree.bem.is-simple
									ul.menu-tree__first-level
										li.menu-tree__first-item.is-contain
											a.menu-tree__first-link(href='#') Новости
										li.menu-tree__first-item.is-contain
											a.menu-tree__first-link(href='#') Услуги
										li.menu-tree__first-item
											a.menu-tree__first-link(href='#') Статьи
										li.menu-tree__first-item
											a.menu-tree__first-link(href='#') Оплата и доставка
										li.menu-tree__first-item
											a.menu-tree__first-link(href='#') Контакты
										li.menu-tree__first-item
											a.menu-tree__first-link(href='#') Бренды
							.header-mobile__plate-section
								.header-mobile__plate-horlink
									.favorites-title.bem.is-simple
										.favorites-title__link-holder
											a.favorites-title__link(href='#') Избранное
								.header-mobile__plate-horlink
									a.js-modal.pseudo-link(href='#feedback') Написать нам
			.header-mobile__logo
				a.header-mobile__logo-link(href='/', title='Вернуться на главную страницу')
					img.header-mobile__logo-img(src='//placehold.it/400x100?text=Logotype', width='200', height='50', data-no-retina='data-no-retina')
		section.main-slider__section
			#main-slider.main-slider(style='position:relative;margin:0 auto;top:0px;left:0px;width:600px;height:300px;overflow:hidden;visibility:hidden;')
				div(data-u='slides', style='cursor:default;position:relative;top:0px;left:0px;width:600px;height:300px;overflow:hidden;')
					.main-slider__item
						img.main-slider__tem-img(data-u='image', src='img/content/mainslide-1.png')
						.main-slider__item-text(data-u='caption', data-t='4', style='position:absolute;width:150px;z-index:0;')
							h3 Мы ценим успех
							p
								| Залогом успеха является качество оказываемых услуг.
								| Мы добиваемся успеха, стремясь отстоять интересы
								| наших клиентов. Успех сегодня - Победа в будущем!
						.main-slider__item-link
							a(href='#')
								| Правовое сопровождение и защита
								strong бизнеса
							a(href='#')
								| Представление интересов
								strong физических лиц
					.main-slider__item
						img.main-slider__item-img(data-u='image', src='img/content/mainslide-2.png')
						.main-slider__item-text(data-u='caption', data-t='4', style='position:absolute;z-index:0;')
							h3 Мы ценим успех
							p
								| Залогом успеха является качество оказываемых услуг.
								| Мы добиваемся успеха, стремясь отстоять интересы
								| наших клиентов. Успех сегодня - Победа в будущем!
						.main-slider__item-link
							a(href='#')
								| Правовое сопровождение и защита
								strong бизнеса
							a(href='#')
								| Представление интересов
								strong физических лиц
				// Bullet Navigator
				.jssorb01(data-u='navigator', style='bottom:16px;left:30px;', data-autocenter='2')
					div(data-u='prototype', style='width:12px;height:12px;')
				// Arrow Navigator
				span.jssora02l(data-u='arrowleft', style='top:0px;left:8px;width:55px;height:55px;', data-autocenter='2')
				span.jssora02r(data-u='arrowright', style='top:0px;right:8px;width:55px;height:55px;', data-autocenter='2')
		section.about
			.content-center
				p.about__text.is-green-text.clearfix
					span.big-letter Ю
					| 			  ристы и адвокаты Юридической группы «Яковлев и Партнеры»®
					| 			  специализируются
					| 			  на правовом сопровождении бизнеса,
					| 			  представляют интересы клиентов в судах по различным категориям споров,
					| 			  осуществляют административно-правовую и уголовно-правовую защиту бизнеса, как на территории России, так и за рубежом
				.about__block
					.about__text-wrapper
						p.about__text
							| Центральный офис «Яковлев и Партнеры»® находится в Москве, региональные представительства — в Кирове,
							| Нижнем Новгороде, Самаре и Твери. Компания входит в международную сеть юридических, аудиторских и консалтинговых фирм,
							| объединяющую свыше 500 компаний в более чем 80 странах.
						p.about__text
							| Юридическая группа «Яковлев и Партнеры»® насчитывает более
							| 75 высококвалифицированных специалистов, многие их которых имеют обширный опыт
							| работы в государственных и коммерческих структурах.
					.about__text-wrapper
						p.about__text
							| Юридическая группа «Яковлев и Партнеры»® рекомендована престижными международными
							| справочниками Chambers & Partners, Legal 500, Best Lawyers и российскими рейтингами портала Право.Ру и газеты
							| «Коммерсантъ» в числе лучших юридических компаний в России в различных отраслях права. Московская коллегия адвокатов «Яковлев и Партнеры»®,
							| входящая в состав Группы, является лауреатом Национальной премии в области адвокатуры и адвокатской деятельности в номинации «Триумф».
				.infocenter.clearfix
					h2.infocenter__caption Инфоцентр
					button.infocenter__button.is-white.btn-arrow Смотреть все статьи
		section.news
			.content-center
				.news__inner
					.news__item.is-big
						.news__item-inner
							.news__item-top.clearfix
								.news__item-date
									span 15
									span 03
								.news__item-person.is-hide-mobile
									span Москва
									span Андрей Яковлев
								.news__item-category
									| Гражданское, налоговое, корпоративное право,
									| банкротство, арбитражный и гражданский процесс
							.news__item-person.is-hide-desktop
								span Москва
								span Андрей Яковлев
							.news__item-caption
								| Открытие делового сезона
							.news__item-text
								p
									| Управляющий партнер Юридической группы "Яковлев и Партнеры" Андрей Юрьевич Яковлев и Председатель
									| Совета Партнеров Юридической группы "Яковлев и Партнеры"
									| Сергей Викторович Лазуренко приняли участие в открытии делового сезона Национального банковского клуба при Ассоциации российких банков.
					.news__item
						.news__item-inner
							.news__item-top.clearfix
								.news__item-date
									span 15
									span 03
								.news__item-category
									| Гражданское, налоговое, корпоративное право,
									| банкротство, арбитражный и гражданский процесс
							.news__item-person
								span Москва
								span Андрей Яковлев
							.news__item-caption
								| Каждому по потребностям:
								| как платить алименты,
								| если родители "поделили"
								| детей
							.news__item-text
								p
									| Родители обязаны содержать своих несовершеннолетних детей независимо от доходов,
									| гласит Семейный кодекс. Как правило, дела об алиментах не представляют для судов большой сложности.
					.news__item
						.news__item-inner
							.news__item-top.clearfix
								.news__item-date
									span 15
									span 03
								.news__item-category
									| Гражданское, налоговое, корпоративное право,
									| банкротство, арбитражный и гражданский процесс
							.news__item-person
								span Москва
								span Андрей Яковлев
							.news__item-caption
								| Открытие делового сезона
							.news__item-text
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									| A, accusamus aliquam architecto cum doloremque ea eaque eum,
									| exercitationem hic id ipsum laborum laudantium nesciunt nisi
					.news__item
						.news__item-inner
							.news__item-top.clearfix
								.news__item-date
									span 15
									span 03
								.news__item-category
									| Гражданское, налоговое, корпоративное право,
									| банкротство, арбитражный и гражданский процесс
							.news__item-person
								span Москва
								span Андрей Яковлев
							.news__item-caption
								| Открытие делового сезона
							.news__item-text
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									| A, accusamus aliquam architecto cum doloremque ea eaque eum,
									| exercitationem hic id ipsum laborum laudantium nesciunt nisi
		section.project-slider__section
			#project-slider.project-slider(style='position:relative;margin:0 auto;top:0px;left:0px;width:600px;height:300px;overflow:hidden;visibility:hidden;')
				div(data-u='slides', style='cursor:default;position:relative;top:0px;left:0px;width:600px;height:300px;overflow:hidden;')
					.project-slider__item
						img.project-slider__tem-img(data-u='image', src='img/content/project-1.jpg')
						.project-slider__item-text(data-u='caption', data-t='4', style='position:absolute;z-index:0;')
							div
								h4 Проекты
								.project-slider__caption
									| Правовое сопровождение строительства пятизвездочного гостиничного комплекса и апарт-отеля
								p
									| Юридическая Группа «Яковлев и Партнеры» осуществляет юридическое
									| сопровождение двух инвестиционных проектов в г. Геленджике по строительству
									| пятизвездочного гостиничного комплекса и апарт-отеля общей стоимостью более 5 млрд. рублей.
								a(href='#') Смотреть все проекты
					.project-slider__item
						img.project-slider__tem-img(data-u='image', src='img/content/project-1.jpg')
						.project-slider__item-text(data-u='caption', data-t='4', style='position:absolute;z-index:0;')
							div
								h4 Проекты
								.project-slider__caption
									| Правовое сопровождение строительства пятизвездочного гостиничного комплекса и апарт-отеля
								p
									| Юридическая Группа «Яковлев и Партнеры» осуществляет юридическое
									| сопровождение двух инвестиционных проектов в г. Геленджике по строительству
									| пятизвездочного гостиничного комплекса и апарт-отеля общей стоимостью более 5 млрд. рублей.
								a(href='#') Смотреть все проекты
				// Bullet Navigator
				.jssorb01(data-u='navigator', style='bottom:16px;left:30px;', data-autocenter='2')
					div(data-u='prototype', style='width:12px;height:12px;')
				// Arrow Navigator
				span.jssora02l(data-u='arrowleft', style='top:0px;left:8px;width:55px;height:55px;', data-autocenter='2')
				span.jssora02r(data-u='arrowright', style='top:0px;right:8px;width:55px;height:55px;', data-autocenter='2')
		section.seminars
			.content-center
				.seminars__inner
					h2.seminars__inner-caption Мероприятия и обучающие семинары
					.seminars__row
						.seminars__left.seminars__item
							a.seminars__video(href='#')
								img(src='img/content/seminars-video.jpg', alt='Видео семинара')
						.seminars__right.seminars__item
							.seminars__right-text
								| Мы готовы поделится своим практическим опытом и накопленными знаниями,
								| организовав обучающие семинары для Ваших сотрудников по различным
								| правовым блокам.
							form.seminars__right-form
								input(type='email', placeholder='Email:')
								input(type='text', placeholder='Имя')
								textarea(name='', id='', cols='30', rows='10', placeholder='Укажите какая тема вас интересует')
							.seminars__right-connect
								button.is-green(href='#') Запросить семинар
								a(href='#') Заказать звонок
