@mixin menu-top__link() {
	position: relative;
	text-decoration: none;
	color: $color-gold;

	&:visited {
		color: $color-gold;
	}

	&:hover, &:visited:hover {
	  color: $color-yellow;
	}
}

@mixin menu-top__link_bg() {
	position: relative;
	text-decoration: none;
	color: #333333;

	&:visited {
		color: #333333;
	}

	&:hover, &:visited:hover {
		background-color: #bbb;
		color: #333333;
	}
}

.menu-top {
  background-color: $color-greendark;
	&__plate {
	}

	&__first-level {
		position: relative;
		display: table;
		margin: 0;
		padding: 0;
		list-style: none;
		box-sizing: border-box;
		@include clearfix;
	}

	&__first-item {
		display: table-cell;
		vertical-align: middle;
		position: relative;
		background-color: $color-greendark;
	  border-bottom: 6px solid transparent;

	  &:hover{
		border-bottom-color: $color-yellow;

	  }
		&:hover .menu-top__second-holder,
		&:hover .menu-top__additional-holder {
			display: block;
		}

		&.is-additional {
			position: relative;
		}
	}

	&__first-link {
		@include menu-top__link;
		display: block;
		padding: 30px 14px 24px 14px;
	  text-transform: uppercase;
	  font-size: 13px;
		color: $color-gold;
	  font-weight: bold;


		&.is-catalog {
			padding-left: 25px;

			&:before {
				@include fa-icon($fa-var-bars, true);
				position: absolute;
				left: 5px;
				top: 50%;
				margin-top: -.55em;
			}
		}
	}

	&__second-holder {
		display: none;
		position: absolute;
		top: 100%;
		z-index: 1001;
		width: 100%;
		min-width: 250px;
		box-sizing: border-box;
	}

	&__second-level {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__second-item {
		position: relative;
		&:hover .menu-top__third-holder {
			display: block;
		}
		&.is-contain {
			.menu-top__second-link {
				position: relative;
				&:before {
					content: "\2026";
					float: right;
					padding-left: 0.5em;
				}
			}
		}
	}

	&__second-link {
		display: block;
		padding: 10px 15px;
		background-color: #ccc;
		border: 1px solid white;
		@include menu-top__link_bg;
	}

	&__third-holder {
		display: none;
		position: absolute;
		left: 100%;
		top: 0;
		width: 100%;
		min-width: 250px;
	}

	&__third-level {
	}

	&__third-item {
		position: relative;

		&:hover .menu-top__fourth-holder {
			display: block;
		}

		&.is-hide {
			display: none;
		}
	}

	&__third-link {
		@include menu-top__link_bg;
		display: block;
		padding: 10px 15px;
		background-color: #ccc;
		border: 1px solid white;
	}

	&__fourth-holder {
		display: none;
		position: absolute;
		left: 100%;
		top: 0;
		width: 100%;
		min-width: 250px;
		background-color: #ddd;
	}

	&__fourth-level {
	}

	&__fourth-item {
	}

	&__fourth-link {
		@include menu-top__link_bg;
		display: block;
		padding: 10px 15px;
		background-color: #ccc;
		border: 1px solid white;
	}

	&__additional-holder {
		display: none;
		position: absolute;
		top: 100%;
		z-index: 1001;
		width: 100%;
		min-width: 150px;
	}

	&__additional-level {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__additional-item {
		position: relative;
		&:hover .menu-top__third-holder {
			display: block;
		}
	}

	&__additional-link {
		display: block;
		padding: 10px 15px;
		background-color: #888;
		border: 1px solid white;
		color: white;
		@include menu-top__link;
	}

	&__more-link {
		display: none;
		font-size: 90%;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}

		&.is-active {
			display: inline;
		}
	}

	&__less-link {
		display: none;
		font-size: 90%;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}

		&.is-active {
			display: inline;
		}
	}

	&__first-item.is-opened,
	&__second-item.is-opened,
	&__third-item.is-opened {
		&:after {
			transform: rotate(90deg);
		}
	}
}

// Состояние Z
@mixin _state_z($mod: '') {
	.menu-top#{$mod} {
		.menu-top {
			&__first-item {
				position: static;

				&.is-additional {
					position: relative;
				}
			}

			&__second-holder {
				left: 0;
				right: 0;
				padding: 20px;
				background-color: #eee;
			}

			&__second-level {
				@include columnizerParent;
				margin-top: - getcolumnmargin();
			}

			&__second-item {
				position: relative;
				@include columnizer(4);
				margin-top: getcolumnmargin();

				&:nth-child(3n+1) {
					clear: left;
				}

				&.is-contain .menu-top__second-link:before {
					content: none;
				}
			}

			&__second-link {
				display: inline;
				background: none;
				border: none;
				padding: 0;
				font-weight: bold;
				@include menu-top__link;
				color: #333333;
				&:hover, &:visited, &:visited:hover {
					color: #333333;
				}
			}

			&__third-holder {
				display: block;
				position: static;
				left: 100%;
				top: 0;
				width: 100%;
				min-width: 0;
				@include margin(20/20);
			}

			&__third-item {
				@include margin(5/20);
			}

			&__third-link {
				display: inline;
				background: none;
				border: none;
				padding: 0;
			}
		}
	}
}

// Состояние И
@mixin _state_i($mod: '') {
	.menu-top#{$mod} {
		.menu-top {
			&__first-item {
				position: static;

				&.is-additional {
					position: relative;
				}
			}

			&__second-holder {
				left: 0;
				right: 0;
				padding: 20px;
				background-color: #eee;
				@include clearfix();
			}

			&__second-level {
				float: left;
				width: (1/3)*100%;
				box-sizing: border-box;
				padding-left: 15px;
				padding-right: 15px;
			}

			&__second-item {
				@include margin(10/20);
				&.is-contain .menu-top__second-link:before {
					content: none;
				}
			}

			&__second-link {
				display: inline;
				background: none;
				border: none;
				padding: 0;
				font-weight: bold;
				@include menu-top__link;
				color: #333333;
				&:hover, &:visited, &:visited:hover {
					color: #333333;
				}
			}

			&__third-holder {
				display: block;
				position: static;
				left: 100%;
				top: 0;
				width: 100%;
				min-width: 0;
				@include margin(10/20);
				padding-bottom: 10px;
			}

			&__third-item {
				@include margin(5/20);
			}

			&__third-link {
				display: inline;
				background: none;
				border: none;
				padding: 0;
			}
		}
	}
}


@include _state_i('.is-i-state');
@include _state_z('.is-z-state');
