
.news{

  &__inner{
	display: flex;
	flex-wrap: wrap;
	margin:0 -10px;
  }
  &__item{
	width: 33.3333%;
	padding: 10px;
	&-inner{
	  background-color: #fff;
	  padding: 10px;
	  height: 300px;

	}

	&-top{
	  div{
		float: left;
	  }
	}
	&-category{
	  float: right !important;
	  max-width: 50%;
	  position: relative;
	  color: $color-golddark;
	  &:before{
		content: '';
		position: absolute;
		top:2px;
		left: -25px;
		@include triangle(right, 14px, 14px, $color-golddark);
	  }
	}
	&-date{
	  margin-right: 20px;
	  position: relative;
	  span:first-child{
		font-size: 26px;
		color: #000;
		margin-right: 30px;
	  }
	  span:last-child{
		font-size: 20px;
		color: $color-golddark;
		position: relative;
		&:before{
		  content: '/';
		  color: inherit;
		  position: absolute;
		  left: -17px;
		  font-size: 29px;
		}
	  }
	  &:before{
		content: '';
		position: absolute;
		width: 70%;
		height: 4px;
		background-color: $color-golddark;
		bottom:-10px;
	  }
	}
	&-person{
	  color: $color-gray;
	  span:first-child{
		margin-right: 20px;
	  }
	}
	&-caption{
	  font-weight: bold;

	}

  }
  &__item.is-big{
	width: 66.6666%;
	.news__item-inner{
	  background-color: $color-golddark;
	  color: $color-back-gray;
	}
	.news-item-date{
	  span:first-child{
		font-size: 26px;
		color: #000;
		margin-right: 30px;
	  }
	  span:last-child {
		font-size: 20px;
		color: #fff;
		position: relative;
	  }
	  &:before{
		background-color: $color-back-gray;
	  }
	}
	.news-item-person{
	  color: #fff;
	}
	.news-item-category{
	  color: $color-brown;
	  &:before{
		content: '';

		@include triangle(right, 14px, 14px, $color-brown);
	  }
	}
  }
}
